extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

block content
    +visual({image: "/images/visuals/philosophie.jpg"})
    +breadcrumb([["Home", "/"],["Datenschutz", "/datenschutz/"]])
    +section({"class": "section--grey"})
        div(class="grid grid--align-start")
            div(class="grid__col-12 grid__col--bleed")
                +section-headline({image: "/images/section-icons/datenschutz.svg", title: "Impressum"})
            div(class="grid__col-12 grid__col-sm-6")
                +block()
                    +block-headline({title: "Verwendung von Cookies"})
                    p Unsere Homepage benutzt Google Analytics, einen Webanalysedienst von Google. Google Analytics verwendet so genannte Cookies (kleine Textdateien), die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch die Cookie erzeugten Informationen über Ihre Benutzung dieser Homepage (einschließlich Ihrer IP-Adresse) werden an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Homepage-Betreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dieses gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung in Ihrer Browser-Software verhindern, wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website in vollem Umfang nutzen können. Durch die Nutzung unserer Homepage erklären Sie sich mit der Bearbeitung, der über Sie erhobenen Daten durch Google, in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden. Falls Sie die Analyse der Benutzung der Website durch das Tool Google Analytics verhindern möchten, so installieren Sie sich bitte das von Google bereitgestellte Browser-Add-On.
             div(class="grid__col-12 grid__col-sm-6")
                +block()
                    +block-headline({title: "Hinweis zum Datzenschutz für den Newsletter"})
                    p Wenn Sie unsere Reflect-Notizen bestellen wollen, benötigen wir neben Ihrer E-Mail-Adresse die Bestätigung, dass Sie der Inhaber der angegebenen E-Mail-Adresse und mit dem Empfang des Newsletters einverstanden sind. Diese Daten werden nur zu dem Zweck erhoben, Ihnen den Newsletter zuschicken zu können und unsere diesbezügliche Berechtigung zu dokumentieren. Eine Weitergabe der Daten an Dritte erfolgt nicht. Die Bestellung des Newsletters und Ihre Einwilligung zur Speicherung der E-Mail-Adresse können Sie jederzeit widerrufen.