extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var blog = site.data.blog[0]

block content
    +header({"visual": "http://baconmockup.com/1280/192/"})
    +breadcrumb([["Home", "/"],["Blog", "/blog"],[blog.shorttitle, "/blog/view"]])
    section(class="section section--grey")
        div(class="section__wrapper")
