extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var members = site.data.team

block content
    +breadcrumb([["Home", "/"],["Kontakt", "/kontakt/"], ["Team", "/kontakt/team/"]])
    +section({"class": "section--compressed section--grey"})
        div(class="grid__col-12")
          +section-headline({image: "/images/section-icons/team.svg", title: "Team"})
        div(class="grid__col-12")
          div(class="block")
              p Schreiben Sie uns Ihr Anliegen über unser Kontataktformular. Wenn Sie uns eine Telefonnummer hinterlassen, rufen wir Sie auch gern zurück.
        div(class="grid grid--bleed team-teasers")
            each member in members
                +team-teaser-grid(member)
            // hack to make the layout work, it requires a full set
            div(class="team-teaser grid__col-4")
