// footer styles
.footer {
	background: #3d3d3d;
	color: white;
	@include clearfix();
	padding: 15px;

	&__logo {
		display: inline-block;
	}

	&__wrapper {
		max-width: 1280px;
		margin: 0 auto;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}


	&__nav {
		h5 {
			text-transform: uppercase;
			opacity: 0.8;
			font-size: 14px;
			letter-spacing: 1.8px;
			color: #ffffff;
		}

		ul {
			display: none;
			opacity: 0.8;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			font-size: 13px;
			line-height: 1.9;
			letter-spacing: 1.6px;
			color: #cccccc;
		}

		ul, 
		form {
			display: none;

			&.is-active {
				display: block;
			}

			@include breakpoint($medium-up) {
				display: block;
			}
		}
	}

	&__address {
		opacity: 0.8;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 13px;
		line-height: 1.9;
		letter-spacing: 1.6px;
		color: #cccccc;
	}

	&__newsletter,
	&__social {
		display: none;
		
		@include breakpoint($medium-up) {
			display: block;
		}
	}
}