block config
    //- Correct base url pathing for this page
    - var baseUrl = '../_modules/'

footer(id='footer', class='footer')
    div
        h5  Profil
        ul
            li  Philosophie
            li  Vision, Mission, Werte
            li  Leitsätze
            li  Arbeitsweise
    div
        h5  Portfolio
        ul
            li  Personalentwicklung
            li  Veränderungsmanagement
            li  Coaching
            li  Kompetenzdiagnostik
            li  Befragungen
            li  Gesunde Organisation
    div
        h5  Instrumente
        ul
            li  Webinare
            li  Registrierung
    div
        h5  Kontakt
        ul
            li  Unternehmen
            li  Team
    div
        h5  Kunden
        ul
            li  News-Blog
            li  Newsletteranmeldung
            li  Impressum
            li  AGB
            li  Datenschutz
    div
        h5 Newsletter Anmeldung
        form
            input(type='email', placeholder='E-Mail')
    div
        p Insheimer Strasse
        p D-76865 Rohrbach
        p Fon +49 6349 96 30 228
        p Fax +49 6349 96 30 229
        p E-Mail info@reflect-beratung.de
    div
        ul
            li  google+
            li  facebook
            li  in
            li  twitter
            li  rss

