block config
    //- Correct base url pathing for this page
    - var baseUrl = '../_modules/'

footer(id='footer', class='footer')
    div(class="footer__wrapper")
        div(class="grid")
            div(class="grid__col-9")
                nav(class='footer__nav grid')
                    div(class='grid__col-3')
                        h5  Profil
                        ul
                            li Philosophie
                            li Vision, Mission, Werte
                            li Leitsätze
                            li Arbeitsweise
                    div(class='grid__col-3')
                        h5  Portfolio
                        ul
                            li Personalentwicklung
                            li Veränderungsmanagement
                            li Coaching
                            li Kompetenzdiagnostik
                            li Befragungen
                            li Gesunde Organisation
                    div(class='grid__col-3')
                        h5  Instrumente
                        ul
                            li Webinare
                            li Registrierung
                        h5  Kontakt
                        ul
                            li Unternehmen
                            li Team
                    div(class='grid__col-3')
                        h5  Kunden
                        ul
                            li News-Blog
                            li Newsletteranmeldung
                            li Impressum
                            li AGB
                            li Datenschutz
            div(class="grid__col-3 u__text-center")
                img(class="grid__cell-img", src="http://placehold.it/220x56")
                div(class='footer__address')
                    | Insheimer Straße 32
                    | D-76865 Rohrbach
                    | Fon +49 6349 96 30 228
                    | Fax +49 6349 96 30 229
                    | E-Mail info@reflect-beratung.de
            div(class="grid__col-9")
                div(class='footer__section footer__section--newsletter')
                    h5 Newsletter Anmeldung
                    include ../newsletter/newsletter.jade
            div(class="grid__col-3")
                div(class='footer__social')
                    include ../social/social.jade

