// footer styles
.footer {
	background: #3d3d3d;
	color: white;
	@include clearfix();
	padding: 15px;

	&__logo {
		display: inline-block;
	}

	&__wrapper {
		max-width: 1280px;
		margin: 0 auto;

		@include breakpoint($bp-sm-down) { 
			max-width: 320px;
		}
	}

	&__logo {
		width: 220px;
		height: 56px;
	}

	&__nav {
		@include breakpoint($bp-sm-down) {
			ul,
			form {
				display: none;

				.is-visible & {
					display: block;
				}
			}
		}

		.is-visible {
			ul, form {
				display: block;
			}
		}

		&-headline {
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 1.8px;
			color: rgba(255, 255, 255, 0.8);
			@include clearfix();

			span {
				display: inline-block;
				float: left;
				width: calc(100% - 30px);
				pointer-events: none;
			}

			@include breakpoint($bp-sm-down) {
				&:after {
					content: '+';
					font-size: 20px;
					line-height: 22px;
					display: inline-block;
					pointer-events: none;
					text-align: right;
					width: 30px;

					.is-visible & {
						content: '-';
					}
				}
			}
		}
	}


	a {
		color: #cccccc;
		text-decoration: none;
		font-size: 14px;
		letter-spacing: 1.6px;

		&:hover {
			text-decoration: underline;
		}
	}

	&__address {
		opacity: 0.8;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 13px;
		line-height: 1.9;
		letter-spacing: 1.6px;
		color: #cccccc;
		white-space: pre-line;

		@include breakpoint($bp-md-up) {
			text-align: center;
		}
	}

	&__newsletter,
	&__social {
		display: none;
		
		@include breakpoint($bp-sm-up) {
			display: block;
		}
	}
}