// carousel styles
.carousel {

    &__page-indicator {
        text-align: center;
        display: inline-block;

        > span {
            color: white;
            text-decoration: none;
            height: 14px;
            width: 14px;
            border: 1px solid #979797;
            border-radius: 50%;
            font-size: 0;
            display: inline-block;
            margin: 0 3px;

            &.is-active {
                background: #969100;
                border: solid 1px #969100;
            }

            &:not(.is-active):hover {
                border: 1px solid darken(white, 10%);
                background: darken(white, 10%);
            }
        }
    }

    &__stage {
        overflow: hidden;
    }

    &__slide-list {
        display: flex;
        left: -100%;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        transform: translateX(100%);

        &.is-viewing-2-slides {
            left: -50%;
            transform: translateX(50%);
        }

        &.is-viewing-3-slides {
            left: -33.33333%;
            transform: translateX(33.33333%);
        }

        &.is-reversing {
            transform: translateX(-100%);
            
            &.is-viewing-2-slides {
                transform: translateX(-50%);
            }
          
            &.is-viewing-3-slides {
                transform: translateX(-33.33333%);
            }
        }
          
        &.is-set {
          transform: none;
          transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        }
    }

    &__slide {
        flex: 1 0 100%;
        order: 2;

        .is-viewing-2-slides & {
            flex-basis: 50%;
        }
      
        .is-viewing-3-slides & {
            flex-basis: 33.33333%;
        }

        &.is-ref {
            order: 1
        }
    }

    &__controls {
        @include clearfix();
    }

    &__button {
        $background-color: rgba(255, 255, 255, 1);
        $border-color: rgba(204, 204, 204, 1);
        $color: rgba(61, 61, 61, 1);

        background-color: $background-color;
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color;
        color: $color;
        cursor: pointer;
        display: inline-block;
        height: 40px;
        transition: all 0.3s ease-out;
        width: 40px;
        margin: 0 2px;
        text-align: center;
        padding: 7px 5px 5px 4px;

        &:hover {
            background: darken($background-color, 10%);
            color: darken($color, 10%);
            border-color: darken($border-color, 10%);
        }

        &--prev {
            
            // hacking with padding, since i dont get proper
            // made icons with no spacing around which would be the best
            // looks at least somehow centered now
            padding: 7px 5px 5px 4px;
        }

        &--next {
            // hacking with padding, since i dont get proper
            // made icons with no spacing around which would be the best
            // looks at least somehow centered now
            padding: 6px 2px 5px 5px;
        }

        &-icon {
            width: 25px;
            height: 25px;
            display: inline-block;

            &--prev {
                transform: rotate(180deg);
            }
        }
    }
}