block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'


div(class="carousel")&attributes({'data-carousel': ''})
    ul
        li(class="carousel__slide")
            div(class="team-teaser")
                img(class="team-teaser__image", src="/images/team__tina-chhristiansen.png")
                p(class="team-teaser__quote") „Hier bitte noch von jedem Mitarbeiter ein persönliches Zitat hinterlegen.“
                p(class="team-teaser__staff") Tina Christiansen
                    small Business Coach
        li(class="carousel__slide")
            div(class="team-teaser")
                img(class="team-teaser__image", src="/images/team__tina-chhristiansen.png")
                p(class="team-teaser__quote") „Hier bitte noch von jedem Mitarbeiter ein persönliches Zitat hinterlegen.“
                p(class="team-teaser__staff") Tina Christiansen
                    small Business Coach
        li(class="carousel__slide")
            div(class="team-teaser")
                img(class="team-teaser__image", src="/images/team__tina-chhristiansen.png")
                p(class="team-teaser__quote") „Hier bitte noch von jedem Mitarbeiter ein persönliches Zitat hinterlegen.“
                p(class="team-teaser__staff") Tina Christiansen
                    small Business Coach
        li(class="carousel__slide")
            div(class="team-teaser")
                img(class="team-teaser__image", src="/images/team__tina-chhristiansen.png")
                p(class="team-teaser__quote") „Hier bitte noch von jedem Mitarbeiter ein persönliches Zitat hinterlegen.“
                p(class="team-teaser__staff") Tina Christiansen
                    small Business Coach
        li(class="carousel__slide ")
            div(class="team-teaser")
                img(class="team-teaser__image", src="/images/team__tina-chhristiansen.png")
                p(class="team-teaser__quote") „Hier bitte noch von jedem Mitarbeiter ein persönliches Zitat hinterlegen.“
                p(class="team-teaser__staff") Tina Christiansen
                    small Business Coach
    nav(class="carousel__controls carousel__controls--team-teaser")
        button(class="carousel__button carousel__button--prev") prev
        button(class="carousel__button carousel__button--next") next
