// carousel styles
.carousel {
    overflow: hidden;

    > ul {
        display: flex;
        left: -100%;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        transform: translateX(100%);

        &.is-viewing-2-slides {
            left: -50%;
            transform: translateX(50%);
        }

        &.is-viewing-3-slides {
            left: -33.33333%;
            transform: translateX(33.33333%);
        }

        &.is-reversing {
            transform: translateX(-100%);
            
            &.is-viewing-2-slides {
                transform: translateX(-50%);
            }
          
            &.is-viewing-3-slides {
                transform: translateX(-33.33333%);
            }
        }
          
        &.is-set {
          transform: none;
          transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        }
    }

    &__slide {
        flex: 1 0 100%;
        order: 2;

        .is-viewing-2-slides & {
            flex-basis: 50%;
        }
      
        .is-viewing-3-slides & {
            flex-basis: 33.33333%;
        }

        &.is-ref {
            order: 1
        }
    }

    &__controls {
        text-align: center;
    }

    &__button {
        display: inline-block;
        background: none;
        border: none;
        outline: none;
        width: 44px;
        height: 44px;
        border: 2px solid #000;
        padding: 4px;
        border-radius: 50%;

        &-icon {
            width: 30px;
            height: 30px;

            &--prev {
                transform: rotate(180deg);
            }
        }
    }
}