block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var deck = site.data.deck

mixin deck(spec)
    - spec = spec || {}
    - spec.class = spec.class || ''

    div(class="deck__stage")
        each card,val in deck 
            if val == 0
                - spec.class = 'deck__card--active'
            else if val == 1
                - spec.class = 'deck__card--next'
            else
                - spec.class = ''
            div(class="deck__card #{spec.class}")
                h2(class="deck__card-headline")= card.title
                each item,index in card.content
                    p= item
                small(class="deck__card-author")= card.author

mixin deck-controls(spec)
    - spec = spec || {}
    - spec.class = spec.class || ''

    nav(class="deck__controls")
        button(class="deck__button deck__button--prev") 
            svg(class="deck__button-icon deck__button-icon--prev")
                use(xlink:href="#angle-right")
        button(class="deck__button deck__button--next")
            svg(class="deck__button-icon deck__button-icon--next")
                use(xlink:href="#angle-right")
