div(class="deck")&attributes({'data-deck': ''})
    div(class="deck__card deck__card--prev")
        h2(class="deck__card-headline") Card 1
        p “Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.
        p Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere,metus mattis varius.” 
        small(class="deck__card-author") Max Mustermann
    div(class="deck__card deck__card--active")
        h2(class="deck__card-headline") Card 2
        p “Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.
        p Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere,metus mattis varius.” 
        small(class="deck__card-author") Max Mustermann
    div(class="deck__card deck__card--next")
        h2(class="deck__card-headline") Card 3
        p “Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.
        p Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere,metus mattis varius.” 
        small(class="deck__card-author") Max Mustermann
    div(class="deck__card")
        h2(class="deck__card-headline") Card 4
        p “Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.
        p Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere,metus mattis varius.” 
        small(class="deck__card-author") Max Mustermann
    div(class="deck__card")
        h2(class="deck__card-headline") Card 5
        p “Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.
        p Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere,metus mattis varius.” 
        small(class="deck__card-author") Max Mustermann
    div(class="deck__card")
        h2(class="deck__card-headline") Card 6
        p “Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere  vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.
        p Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere,metus mattis varius.” 
        small(class="deck__card-author") Max Mustermann
    div(class="deck__card")
        h2(class="deck__card-headline") Card 7
        p “Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.
        p Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere,metus mattis varius.” 
        small(class="deck__card-author") Max Mustermann
    nav(class="deck__nav")
        button(type="button", class="deck__button deck__button--prev") &lt;
        button(type="button", clasS="deck__button deck__button--next") &gt;