// block styles
.block {
	letter-spacing: 1px;
	line-height: 1.6;

	&--tiled {
		background: white;
		border: 1px solid #cccccc;
		padding: 20px;
	}

	&__headline {
		font-size: 20px;
		line-height: 1.5;
		letter-spacing: 1.7px;
		color: #333333;
	}

	p {
		font-size: 16px;
		
		color: #000000;
	}

	&:not(:first-of-type) {
		margin-top: 10px;
	}

	ol {
		list-style-type: decimal;
		padding-left: 20px;
	}

	ul {
		list-style-type: disc;
		padding-left: 20px;
	}

	p + p,
	&__headline + p,
	p + ol {
		margin-top: 0.8em;
	}

	ul + &__headline,
	p + &__headline {
		margin-top: 1.5em;
	}
}