extends ../../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../../'
    - var portfolio = site.data.portfolio.veraenderungsmanagement

block content
    +header({"class":"header--extended", "visual": "http://baconmockup.com/1280/188/", "visualSize": "0 0 32 5"})
    +breadcrumb([["Home", "/"],["Portfolio", "/portfolio"], [portfolio.title, portfolio.link]])
    +section({"class": "section--grey"})
        +section-headline({icon: "#rocket", title: portfolio.title})
        div(class="grid")
            each item in portfolio.text
                +section-block()
                    div(class="grid__col-12")
                        p= item