block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

nav(id='navigation', class='header__nav nav')
    ul(class='nav__list nav__list--l1')
        li(class='nav__listitem nav__listitem--l1') 
            a(href="#", title="#") Profil
            ul(class='nav__list nav__list--l2')
                li(class='nav__listitem nav__listitem--l2')  
                    a(href='#', title='foo') subnav1
                li(class='nav__listitem  nav__listitem--l2')
                    a(href='#', title='foo', class='is-active') subnav2
