// navigation styles
.nav {
	display: block;

	&__overlay {
		position: absolute;
		width: 100%;
		height: 100vh;
		left: 0;
		top: 70px;
		display: none;

		&.is-visible {
			display: block;
		}
	}

	@include breakpoint($bp-sm-up) {
		width: 100%;
	}

	a {
		font-size: inherit;
		color: $color-lightgrey;
		font-weight: 400;
		display: block;
		white-space: nowrap;

		&:hover {
			color: black;
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		justify-content: space-around;

		@include breakpoint($bp-sm-down) {
			flex-direction: column;
		}

		&--l1 {
			font-size: 13px;
			letter-spacing: 2px;
			text-transform: uppercase;
			letter-spacing: 0.2px;
		}

		&--l2 {
			display: none;
			text-transform: none;

			@include breakpoint($bp-sm-up) {
				position: absolute;
				background: white;
				z-index: 600;
				margin: 0 0 0 -15px;
				padding: 20px 0px;
				box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
			}
			
			.is-active & {
				display: block;
			}
		}

		&item{
			margin: 0;
			padding: 0;
			display: block;

			&--l1 > a,
			&--l1 > button {

				@include breakpoint($bp-sm-down) {
					padding: 13px 0;
				}

				@include breakpoint($bp-sm-up) {
					padding: 25px 0 23px;
				}
			}

			&--l2 > a {
				letter-spacing: 1.9px;
				line-height: 1.7;
				
				@include breakpoint($bp-sm-down) {
					padding: 3px 0;
				}


				@include breakpoint($bp-sm-up) {
					padding: 0 26px;
				}
			}

			&--badge > a {
				color: $color-red;

				&:hover {
					color: darken($color-red, 10%);
				}
			}

			&-text {
				display: inline-block;
				margin-right: 5px;
			}

			&-icon {
				display: inline-block;
				width: 22px;
				height: 22px;
				position: relative;
				top: 1px;
				vertical-align: top;

				@include breakpoint($bp-sm-up) {
					transform: rotate(90deg);
				}
			}
		}
	}
}

