// navigation styles
.nav {
	display: block;

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		justify-content: space-around;

		&--l1 {
			
		}

		&--l2 {
			display: none;

			.is-active & {
				display: block;
			}	
		}

		&item{
			margin: 0;
			padding: 0;
			display: block;
			//height: calculateRem(44px);

			&--l1 {
				> a {
					text-transform: uppercase;
					letter-spacing: 0.2px;
					line-height: 1.2; // 18px
					padding: 13px 0;
				}

				&.is-active > a {
					color: #000;					
				}
			}

			&--l2 > a {
				letter-spacing: 1.9px;
				line-height: 1.7;
				padding: 0 26px;

				&.is-active {
					color: #000;
				}
			}
		}
	}
}

