block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

nav(id='navigation', class='header__nav nav')
    ul(class='nav__list nav__list--level1')
        li(class='nav__listitem')  Profil
            ul(class='nav__list nav__list--level2')
                li  subnav1
                li  subnav2
        li(class='nav__listitem')  Portfolio
            ul(class='nav__list nav__list--level2')
                li  subnav1
                li  subnav2
        li(class='nav__listitem')  Instrumente
            ul(class='nav__list nav__list--level2')
                li  subnav1
                li  subnav2
        li(class='nav__listitem')  Kontakt
        li(class='nav__listitem')  Blog
        li(class='nav__listitem nav__listitem--language-selection')  DE
