div(class="rating")
    ul(class="rating__list")
        li
            span(class="rating__label") kurz
            span(class="rating__value") 2.678
            div(class="rating__bar", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
                span(style="width: 20%;")
        li
            span(class="rating__label") etwas länger
            span(class="rating__value") 12.678
            div(class="rating__bar", role="progressbar", aria-valuenow="46", aria-valuemin="0", aria-valuemax="100")
                span(style="width: 46%;")
        li
            span(class="rating__label") noch a weng länger
            span(class="rating__value") 132.678
            div(class="rating__bar", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100")
                span(style="width: 60%;")
        li
            span(class="rating__label") ganz schon langes ding hier
            span(class="rating__value") 1.234.678
            div(class="rating__bar", role="progressbar", aria-valuenow="88", aria-valuemin="0", aria-valuemax="100")
                span(style="width: 88%;")
        li
            span(class="rating__label") das ist sicher zweizeilig weils so lang is
            span(class="rating__value") 12.234.678
            div(class="rating__bar", role="progressbar", aria-valuenow="99", aria-valuemin="0", aria-valuemax="100")
                span(style="width: 99%;")