mixin form(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class=spec.__class)&attributes(attributes)
    p This is an example paragraph for the form module


mixin form-inline(spec)
  - spec = spec || {}
  - spec.class = spec.class || ''

    form(method="get", action="/suche/", class="form form--inline #{spec.class}")&attributes(attributes)
        input(placeholder="Suchen",class="form__input form__input--inline")
        button(type="submit", class="form__submit form__submit--inline")
            span(class="form__submit-text")= spec.submit
            svg(class="form__submit-icon")
                use(xlink:href=spec.icon)
