mixin form(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class=spec.__class)&attributes(attributes)
    p This is an example paragraph for the form module


mixin form-inline(spec)
  - spec = spec || {}
  - spec.class = spec.class || ''

    form(class="form form--inline #{spec.class}")&attributes(attributes)
        input(class="form__input form__input--inline")
        button(type="button", class="form__submit form__submit--inline")
            svg(class="form__submit-icon")
                use(xlink:href=spec.icon)
