// form styles
.form {

	&--inline {
		border-radius: 4px;
		background-color: #ffffff;
		border: solid 1px #cccccc;
		@include clearfix();
		height: 35px;
	}

	&__input {
		width: 100%;
		padding: 15px 25px;
		border-radius: 2px;
		background-color: #ffffff;
		border: solid 1px #cccccc;
		font-family: inherit;
		font-size: 16px;
		letter-spacing: 0.3px;
		color: #7d8c93;
		border: 1px solid #cccccc;
		transition: all 0.2s ease-out;

		&--textarea {
			height: 193px;
		}

		&--inline {
			padding: 5px 5px;
			height: 100%;
			display: block;
			border: 0;
			float: left;
			max-width: calc(100% - 40px);
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		&:hover,
		&:focus {
			border-color: darken(#ccc, 10%);
			color: #000;
		}

		&.is-invalid {
			border-color: $color-red;

			&:hover {
				border-color: darken($color-red, 10%);
			}

			&:focus {
				border-color: darken(#ccc, 10%);
			}
		}
	}

	&__submit {
		background: $color-lightblue;
		text-align: center;
		font-size: 20px;
		text-transform: uppercase;
		color: #fff;
		font-weight: 400;
		font-family: inherit;
		border: 0;
		padding: 13px 25px;
		transition: all 0.2s ease-out;

		&:hover {
			background: darken($color-lightblue, 10%);
			cursor: pointer;
		}

		&-icon {
			width: 14px;
			height: 14px;
		}

		&--inline {
			padding: 0;
			width: 40px;
			height: 100%;
			color: inherit;
			background: inherit;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}