extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var deck = site.data.deck

block content
    +header({"class":"header--extended", "visual": "/images/visuals/prozesse.jpg"})
        +go({"class": "is-top-left-active is-visible is-minimized"})
        +header-overlay({"title": "Prozesse", "text": "Bacon ipsum dolor amet porchetta turducken boudin, turkey tri-tip bresaola strip steak pork ham hock cow fatback pig prosciutto tongue tenderloin."})
    +section({"class": "section--grey"})
        p TBD