extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var members = site.data.team

block content
    +visual({image: "/images/visuals/philosophie.jpg"})
    +breadcrumb([["Home", "/"],["Kontakt", "/kontakt/"]])
    +section({"class": "section--grey"})
        div(class="grid")
            div(class="grid__col-12 grid__col--bleed")
                +section-headline({"title": "Kontakt", "image": "/images/section-icons/kontakt.svg"})
            div(class="grid__col-12")
                form(class="grid grid--justify-end form")
                    p(class="grid__col-12") Schreiben Sie uns Ihr Anliegen über unser Kontataktformular. Wenn Sie uns eine Telefonnummer hinterlassen, rufen wir Sie auch gern zurück.
                    div(class="grid__col-12 grid__col-sm-6 grid__col--bleed")
                        div(class="grid__col-12")
                            input(placeholder="Vorname", class="form__input")
                        div(class="grid__col-12")
                            input(placeholder="Nachname", class="form__input")
                        div(class="grid__col-12")
                            input(placeholder="E-Mail", class="form__input")
                        div(class="grid__col-12")
                            input(placeholder="Telefon", class="form__input")
                    div(class="grid__col-12 grid__col-sm-6 grid__col--bleed")
                        div(class="grid grid--justify-end")
                            div(class="grid__col-12")
                                textarea(class="form__input form__input--textarea") Ihre Nachricht
                            div(class="grid__col-12 grid__col-sm-6")
                                input(type="submit", class="form__submit", value="Abschicken")
    +section({"id": "unternehmen","class": "section--white"})
        div(class="grid")
            div(class="grid__col-12 grid__col--bleed")
                +section-headline({"image": "/images/section-icons/anfahrt.svg", title: "Adresse & Anfahrt"})
            div(class="grid__col-12")
                +block()
                    p 
                        strong Mit dem Auto:
                        br
                        | Sie erreichen Rohrbach über die A65, Ausfahrt Rohrbach/Herxheim. Von dort ca. 3 km bis zur Ortsmitte, dort rechts abbiegen in die Hauptstrasse und die nächste wieder rechts in Richtung Insheim. Am Ortsausgang auf der linken Seite finden Sie Reflect.
                    p
                        strong Bahn:
                        br
                        | Der Bahnhof Rohrbach liegt auf der Strecke Mannheim/Ludwigshafen in Richtung Karlsruhe, die zweite Station südlich von Landau. Sie erreichen Reflect in ca. 10 min Fußweg. 
                    p
                        strong Flugzeug:
                        br
                        | Vom Flughafen Mannheim (65 km) oder Karlsruhe-Baden (70 km) am schnellsten per Bahn (s. o.) zu erreichen .
            div(class="grid__col-12 grid__col-sm-6")
                iframe(class="map", src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2610.2117662108185!2d8.129646251251431!3d49.13960358871719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479656e818a2161d%3A0xbf899d7dd1303b68!2sReflect!5e0!3m2!1sde!2sde!4v1466885430013", width="100%", height="450", frameborder="0", style="border:0", allowfullscreen)
            div(class="grid__col-12 grid__col-sm-6")
                p
                    strong Kontaktadresse
                    br
                    | Reflect
                    br
                    | Insheimer Straße 32
                    br
                    | D-76865 Rohrbach 
                    br
                    br
                    | E-mail: 
                    +link({"class": "u-color-darkblue", "href": "mailto:info@reflect-beratung.de", "title": "info@reflect-beratung.de"})
                    br
                    | Fon: +49 (06349) 96 30 228
                    br
                    | Fax: +49 (06349) 96 30 229 
                +social-links({"class": "social--contact","facebook": true, "googleplus": false, "linkedin": true, "twitter": true, "rss": false, "xing": true})
    +section({"id": "team", "class": "section--grey"})
        div(class="grid")
            div(class="grid__col-12 grid__col--bleed")
                +section-headline({"image": "/images/section-icons/team.svg", title: "Team"})
            div(class="grid__col-12")
                +block()
                    p Schreiben Sie uns Ihr Anliegen über unser Kontataktformular. Wenn Sie uns eine Telefonnummer hinterlassen, rufen wir Sie auch gern zurück.
        div(class="grid grid--bleed team-teasers")
            each member in members
                +team-teaser-grid(member)
            // hack to make the layout work, it requires a full set
            div(class="team-teaser is-hidden-sm-down grid__col-4")
