extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var blogs = site.data.blog

include ../_modules/section/section.jade
include ../_modules/breadcrumb/breadcrumb.jade
include ../_modules/blog/blog.jade
include ../_modules/pagination/pagination.jade

block content
    +breadcrumb([["Home", "/"],["Blog Übersicht", "/blog"]])
    section(class="section section--grey")
        div(class="section__wrapper")
            //+section-headline({icon: "#comment-o", title: "Blog"})
            div(class="grid grid--justify-space-between")
                div(class="blog-list grid__col-8")
                    each blog in blogs
                        +blog-teaser-extended(blog)
                div(class="blog-sidebar grid__col-4")
                    div(class="blog-sidebar__block")
                        h3(class="blog-sidebar__headline") Kategorie
                        +blog-category-listing(blogs)
                    div(class="blog-sidebar__block")
                        h3(class="blog-sidebar__headline") Tags
                        +blog-tag-listing(blogs)
                div(class="grid__col-8")
                    +pagination()
