extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var blogs = site.data.blog

block content
    +visual({image: "/images/visuals/philosophie.jpg"})
    +breadcrumb([["Home", "/"],["Blog Übersicht", "/blog"]])
    +section({"class": "section--grey"})
        div(class="grid grid--bleed")
            div(class="grid__col-12")
                +section-headline({icon: "#television", title: "Blog"})
        div(class="grid grid--justify-space-between")
            div(class="grid__col-12 grid__col-sm-8")
                div(class="blog-list")
                    each blog in blogs
                        +blog-teaser-extended(blog)
            div(class="grid__col-12 grid__col-sm-4")
                div(class="blog-sidebar")
                    div(class="blog-sidebar__block")
                        +form-inline({"class": "search", "icon": "#search"})
                    div(class="blog-sidebar__block")
                        h3(class="blog-sidebar__headline") Kategorie
                        +blog-category-listing(blogs)
                    div(class="blog-sidebar__block")
                        h3(class="blog-sidebar__headline") Tags
                        +blog-tag-listing(blogs)
            div(class="grid__col-8")
                +pagination()
