extends ../../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../../'
    - var portfolio = site.data.portfolio.befragungen

block content
    +visual({image: "/images/visuals/philosophie.jpg"})
    +breadcrumb([["Home", "/"],["Portfolio", "/portfolio"], [portfolio.title, portfolio.link]])
    +section({"class": "section--grey"})
        div(class="grid grid--align-start")
            div(class="grid__col-12 grid__col--bleed")
                +section-headline({icon: "#rocket", title: portfolio.title})
            div(class="grid__col-12")
                each item in portfolio.text
                    +block()
                        p= item