// team-teaser styles
.team-teaser {
	@include clearfix();
	text-align: center;

	@include breakpoint($bp-sm) {
		text-align: left;

		> div {
			width: 70%;
			float: left;
		}
	}

	&__image {
		@include breakpoint($bp-sm) {
			float: left;
			width: 30%;
			margin-right: 60px;
		} 
		
		max-width: 174px;
		max-height: 174px;
	}

	

	blockquote {
		font-size: 36px;
		line-height: 1.1;
		letter-spacing: 0.6px;
		color: #000000;
		font-style: italic;

		&:before,
		&:after {
			display: inline;
		}

		&:before {
			content: '„';
		}

		&:after {
			content: '“';
		}

		+ p {
			margin-top: 20px;
		}
	}

	p {
		font-size: 16px;
		letter-spacing: 0.2px;
		color: #000000;
	}
}