mixin team-teaser(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    div(class='team-teaser')&attributes(attributes)
        a(href="/team/view/")
            img(class="team-teaser__image", src=spec.image)
            div
                blockquote= spec.quote
                p(class="u__text-strong")= spec.name
                p= spec.title
