mixin team-teaser(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    div(class='team-teaser')&attributes(attributes)
        a(href="/teamview/")
            img(class="team-teaser__image", src="/images/team__tina-christiansen.png")
            div
                blockquote Hier bitte noch von jedem Mitarbeiter ein persönliches Zitat hinterlegen.
                p(class="u__text-strong") Tina Christiansen
                p Business Coach
