extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var deck = site.data.deck

block content
    +go({"class": "is-bottom-active is-visible is-minimized", "visual": "/images/visuals/beziehungen.jpg"})
        +go-overlay({"title": "Beziehungen", "text": "Bacon ipsum dolor amet porchetta turducken boudin"})
    +section({"class": "section--grey"})
        p TBD