block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'


mixin breadcrumb(spec)
    - spec = spec || ''

    nav(class="breadcrumb")
        ol(itemscope="", itemtype="http://schema.org/BreadcrumbList")
            each crumb, index in spec
                li(itemprop="itemListElement", itemscope="", itemtype="http://schema.org/ListItem")
                    a(title=crumb[0], itemprop="item", href=crumb[1])
                        span(itemprop="name")= crumb[0]
                        meta(itemprop="position", content=index)
