// breadcrumb styles
.breadcrumb {
	background: #ffffff;
	font-size: 11px;
	line-height: 1.3;
	letter-spacing: 1.1px;
	text-transform: uppercase;

	ol {
		max-width: 992px;
		margin: 0 auto;
		padding: 10px 20px;

		> li {
			display: inline-block;

			&:not(:first-child):before {
				content: '/';
				display: inline-block;
				color: #7d8c93;
				padding: 0 10px;
			}

			&:not(:last-child) a {
				color: #7d8c93;
			}

			&:last-child {
				color: #7d8c93;
			}

			a {
				color: inherit;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}