mixin blog-teaser(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    article(class="blog-teaser")&attributes(attributes)
        time(class="blog-teaser__pub-date") 11. NOV 2015
        h3(class="blog-teaser__headline") Headline Lorem Ipsum
        p(class="blog-teaser__body-text") Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque.
        p(class="blog-teaser__body-text") Ut porta viverra est, ut dignissim elit elementum ut. Nunc vel rhoncus nibh, ut tincidunt turpis. 
        a(class="blog-teaser__link", href="/blogview/") weiterlesen →