extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

block content
    section(class="section section--white")
        div(class="section__wrapper")
            h2(class="section__headline") Profil
            div(class="section__badge") Unser Team wartet auf Sie
            div(class="grid")
                div(class="grid__col-6")
                    h3 Philosophie
                    p Das Wesen unserer Arbeit erkennen Sie bereits in unserem Namen: Reflect steht für den Prozess reflektierten Handelns – gemeinsam mit Ihnen als Kunde. Denn durch gezielte Reflexion entstehen neue Perspektiven: Menschen können sich besser in die Lage anderer hineinversetzen. Der Blick kann sich mehrdimensionalen Lösungen öffnen. Der eigene Horizont erweitert sich. Und wo vorher keine Lösung mehr sichtbar oder denkbar war, entstehen herausragende Ideen und Optionen.
                    h3 Leitsätze - unsere 7 Standpunkte
                    p Wir nehmen regelmäßig neue Perspektiven ein. Das ist unser Job. Dennoch haben wir Prinzipien und bekennen uns zu klaren Leitsätzen.
                    p An diesen sollten Sie uns messen und auf diese berufen wir uns selbst. So garantieren wir Ihnen und uns die bestmögliche Arbeit mit den bestmöglichen Ergebnissen.
                    ol 
                        li Kundenorientierung
                        li Prozess- und Ressourcenorientierung
                        li Angebotsorientierung
                        li Technische Neutralität
                        li Bewahrung von Autonomie
                        li Verzicht auf Wahrheitsansprüche
                        li Anerkennung von Komplexität
                div(class="grid__col-6")
                    h3 Vision, Mission, Werte
                    p Die Entscheidungsträger innerhalb von Unternehmen in der Region sind sich der Bedeutung strategischer Personalentwicklung bewusst. Sie sehen die Wirkung strategischer Personalentwicklung als relevanten Beitrag an, um ihre Organisation human, wirtschaftlich erfolgreich, zukunftsfähig und nicht kopierbar zu gestalten.
                    p Wir wollen Menschen und Unternehmen bei ihrer Entwicklung unterstützen, so dass diese ihre spezifischen Potenziale zum Wohle des Unternehmens, ihrer eigenen Person und somit der Gesellschaft voll zur Entfaltung bringen können. Dabei sehen wir Potenzialentfaltung nicht als Selbstzweck an, sondern als Weg der Verantwortungsübernahme jedes Einzelnen innerhalb des unternehmerischen und gesellschaftlichen Kontextes. 
                    p 
                        strong Kompetenz, Integrität und Spaß bei der Arbeit!
                    h3 Arbeitsweise
                    p Reflect denkt in Problemlagen nicht in Branchen. Wo andere Berater Patentlösungen für ganze Branchen präsentieren und entsprechende Maßnahmen und Trainings ‚einleiten’, betrachten wir das jeweilige Problem. Anders gesagt, wir arbeiten von Fall zu Fall, nicht generell. Doch bestimmte Standard-Arbeitsschritte halten natürlich auch wir für sinnvoll, weil sie die Qualität unserer Arbeit und damit auch Ihre Ergebnisse verbessern.
    section(class="section section--grey grid")
        div(class="section__wrapper")
            h2(class="section__headline grid__col-12") Beschreibung
            div(class="grid")
                div(class="grid__col-8")
                    div(class="grid grid--direction-column")
                        div(class="grid__col-12")
                            blockquote(class="quote quote--default") Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id.
                        div(class="grid")
                            div(class="grid__col-6") Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
                            div(class="grid__col-6") Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
                div(class="grid__col-4")
                    include ../_modules/rating/rating.jade
    section(class="section section--white")
        div(class="section__wrapper")
            h2(class="section__headline") Portfolio
            div(class="grid")
                div(class="grid__col-4")
                    div(class="grid__cell u__text-center")
                        svg(class="icon icon--portfolio grid__cell-img")
                            use(xlink:href="#twitter")
                        h3 Personalentwicklung
                        p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. 
                div(class="grid__col-4")
                    div(class="grid__cell u__text-center")
                        svg(class="icon icon--portfolio grid__cell-img")
                            use(xlink:href="#twitter")
                        h3 Veränderungsmanagement
                        p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. 
                div(class="grid__col-4")
                    div(class="grid__cell u__text-center")
                        svg(class="icon icon--portfolio grid__cell-img")
                            use(xlink:href="#twitter")
                        h3 Coaching
                        p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. 
                div(class="grid__col-4")
                    div(class="grid__cell u__text-center")
                        svg(class="icon icon--portfolio")
                            use(xlink:href="#twitter")
                        h3 Kompetenzdiagnostik
                        p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. 
                div(class="grid__col-4")
                    div(class="grid__cell u__text-center")
                        svg(class="icon icon--portfolio")
                            use(xlink:href="#twitter")
                        h3 Befragungen
                        p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. 
                div(class="grid__col-4")
                    div(class="grid__cell u__text-center")
                        svg(class="icon icon--portfolio")
                            use(xlink:href="#twitter")
                        h3 Gesunde Organisation
                        p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. 
