extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

block content
    include ../_modules/go/go.jade
    section(class="section section--grey")
        div(class="section__wrapper")
            div(class="section__badge") 
                svg(class="go__link-icon go__link-icon--next")
                    use(xlink:href="#yelp")
                Unser Team wartet auf Sie
            h2(class="section__headline")
                svg(class="section__headline-icon")
                    use(xlink:href="#television")
                | Profil
            include ../_modules/vision/vision.jade
    include ../_modules/portfolio-teaser/portfolio-teaser.jade
    section(class="section section--white")
        div(class="section__wrapper")
            h2(class="section__headline")
                svg(class="section__headline-icon")
                    use(xlink:href="#rocket")
                | Portfolio
            div(class="grid")
                div(class="grid__col-12 grid__col-xs-6 grid__col-sm-4")
                    +portfolio-teaser('Personalentwicklung')
                div(class="grid__col-12 grid__col-xs-6 grid__col-sm-4")
                    +portfolio-teaser('Personalentwicklung')
                div(class="grid__col-12 grid__col-xs-6 grid__col-sm-4")
                    +portfolio-teaser('Personalentwicklung')
                div(class="grid__col-12 grid__col-xs-6 grid__col-sm-4")
                    +portfolio-teaser('Personalentwicklung')
                div(class="grid__col-12 grid__col-xs-6 grid__col-sm-4")
                    +portfolio-teaser('Personalentwicklung')
                div(class="grid__col-12 grid__col-xs-6 grid__col-sm-4")
                    +portfolio-teaser('Personalentwicklung')
    section(class="section section--grey")
        div(class="section__wrapper")
            h2(class="section__headline")
                svg(class="section__headline-icon")
                    use(xlink:href="#group")
                | Team
            include ../_modules/carousel/carousel.jade
    include ../_modules/blog-teaser/blog-teaser.jade
    section(class="section section--white")
        div(class="section__wrapper")
            h2(class="section__headline")
                svg(class="section__headline-icon")
                    use(xlink:href="#comment-o")
                | Blog
                a(class="section__headline-link", href="/bloglist/") Mehr Blog-Artikel →
            div(class="grid")
                div(class="grid__col-12 grid__col-xs-6")
                    +blog-teaser()
                div(class="grid__col-12 grid__col-xs-6")
                    +blog-teaser()