//- Custom Configuration
block config
    //- Setup site's base URL to match the "baseUrl" key within `package.json`
    //- Otherwise default to relative pathing
    - var baseUrl = config.baseUrl || './'

doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title reflect
    meta(name='description', content= '')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block stylesheets
        link(rel='stylesheet', href= baseUrl + 'styles/main.css')

include ../_modules/carousel/carousel.jade
include ../_modules/team/team.jade
include ../_modules/portfolio-teaser/portfolio-teaser.jade
include ../_modules/blog/blog.jade
include ../_modules/section/section.jade
include ../_modules/header/header.jade
include ../_modules/form/form.jade
include ../_modules/breadcrumb/breadcrumb.jade
include ../_modules/pagination/pagination.jade

body
    include ../_images/svg/sprite.symbol.svg
    block content
    include ../_modules/footer/footer.jade

    block scripts
        script(src= baseUrl + 'scripts/main.js')

</html>
