// blog-teaser styles
.blog {
	
	&-teaser {
		border-radius: 2px;
		background-color: #ffffff;
		border: solid 1px #cccccc;
		padding: 20px;

		&__headline {
			font-size: 20px;
			line-height: 1.5;
			letter-spacing: 1.7px;
			color: #333333;
			text-transform: uppercase;
		}

		&__pub-date {
			text-align: center;
			font-size: 14px;
			line-height: 1.4;
			letter-spacing: 0.2px;
			color: #000000;

			+ .block__headline {
				margin-top: 11px;
			}
		}

		&__link {
			font-size: 14px;
			line-height: 1.4;
			letter-spacing: 1px;
			color: #0f4c88;
			display: block;
			text-align: right;
			text-decoration: none;
			transition: color 0.3s ease-out;

			&:hover {
				text-decoration: underline;
				color: darken(#007dc7, 10%);
			}
		}

		&__tags {
			&:before {
				display: inline;
				content: 'Tags:';
			}


			a {
				display: inline-block;
				margin-left: 3px;

				&:not(:last-of-type):after {
					content: ',';
					display: inline;
				}
			}
		}
	}
}