extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../../'

block content
    +visual({image: "/images/visuals/profil.jpg"})
    +breadcrumb([["Home", "/"],["Profil", "/profil/"]])
    +section({"class": "section--grey"})
        div(class="grid grid--bleed")
            div(class="grid__col-12")
                +section-headline({image: "/images/section-icons/profil.svg", title: "Profil"})
        div(class="grid")
            div(class="grid__col-12 grid__col-sm-6")
                +block({title: "Fundiert seit 1995"})
                   p Reflect wurde während des Studiums von engagierten Studenten der Universität Landau im Jahre 1995 gegründet. Ingo Kallenbach war einer davon. Heute besteht Reflect aus einem Team von Experten und Expertinnen mit überwiegend psychologisch-pädagogischen, medizinischen und kaufmännischen Hintergründen. Jeder einzelne von ihnen besitzt hervorragende Kenntnisse und Fähigkeiten in seinem jeweiligen Arbeitsfeld und ist Teil der ganzheitlichen Lösungen für Ihr Unternehmen. 
            div(class="grid__col-12 grid__col-sm-6")
                +block({title: "Konsequent zielgerichtet"})
                   p Reflect steht seit seiner Gründung für den begleiteten und reflektierten Prozess des Handelns in Unternehmen. Dabei betrachten und gestalten wir gemeinsam mit unseren Kunden das, was Unternehmen auszeichnet und antreibt: Strategie, Struktur und Kultur. Als strategische Personalentwickler orientieren wir uns klar am Bedarf des Kunden. Daher spiegeln und analysieren wir immer erst die spezifische Situation des Kunden und entwickeln auf dieser Basis fundierte Lösungen.