// vision styles
.vision {
    padding: 10px 15px 0;
    text-align: center;
    
    @include breakpoint($bp-sm) {
        column-count: 2;
        text-align: left;
    }

    &__headline {
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 1.7px;
        color: #333333;
    }

    &__list {
        list-style-type: decimal;
        list-style-position: inside;
        break-after: always;
    }

    strong {
        font-weight: 400;
    }

    p + p,
    p + &__list,
    p + &__headline,
    &__list + &__headline,
    ul + &__headline {
        margin-top: 20px;
    }
}
