// section styles
.section {
	padding: 40px 15px;
	position: relative;

	&__headline {
		padding: 0 10px;
		font-weight: 300;
		font-size: 35px;
		// line-height: 1.1; why 1.1?
		line-height: 1;
		letter-spacing: 0.5px;
		color: #007dc7;
		text-transform: uppercase;
		margin-bottom: 10px;
		text-align: center;

		&-icon {
			height: 38px;
			width: 38px;
			display: inline-block;
			vertical-align: sub;
			margin-right: 12px;
		}

		@include breakpoint($bp-sm) {
			text-align: left;
		}

		&-link {
			opacity: 0.6;
			font-size: 14px;
			line-height: 1.4;
			letter-spacing: 0.2px;
			color: #000000;
			float: right;
		}
	}

	&__wrapper {
		margin: 0 auto;
		max-width: 992px;
		position: relative;
	}

	&--compressed {
		padding: 0;
	}

	&--grey {
		background: #f4f4f4;
	}

	&--white {
		background: white;
	}

	+ section {
		border-top: 1px solid #007dc7;
	}

	&__badge {
		background: #007dc7;
		color: white;
		text-transform: uppercase;
		font-family: Lato;
		font-weight: 400;
		font-size: 18px;
		line-height: 2.2;
		letter-spacing: 0.3px;
		color: #ffffff;
		padding: 0 20px;
		margin-bottom: 30px;

		@include breakpoint($bp-sm) {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}