// section styles
.section {
	padding: 40px 15px;
	position: relative;

	&__headline {
		padding: 0 10px;
		font-weight: 300;
		font-size: 35px;
		letter-spacing: 0.5px;
		color: rgba(0, 125, 199, 1);
		text-transform: uppercase;
		display: flex;
		word-wrap: break-word;

		&-text {
			// 100% - icon width
			width: calc(100% - 1em + 12px);
			line-height: 1.2;
		}

		&-icon {
			height: 1em;
			width: 1em;
			margin: 6px 12px 0 0;
		}

		@include breakpoint($bp-sm-up) {
			text-align: left;
		}

		&-link {
			font-size: 14px;
			line-height: 1.4;
			letter-spacing: 0.2px;
			color: rgba(0, 0, 0, 0.6);
			float: right;
		}
	}

	&__wrapper {
		margin: 0 auto;
		max-width: 992px;
		position: relative;

		@include breakpoint($bp-lg-up) {
			max-width: 1280px;
			padding: 0 144px;
		}
	}

	&--grey {
		background: rgba(244, 244, 244, 1);
	}

	&--white {
		background: white;
	}

	+ section {
		border-top: 1px solid rgba(0, 125, 199, 1);
	}

	&__badge {
		background: rgba(0, 125, 199, 1);
		color: white;
		text-transform: uppercase;
		font-family: Lato;
		font-weight: 400;
		font-size: 18px;
		line-height: 2.2;
		letter-spacing: 0.3px;
		color: rgba(255, 255, 255, 1);
		padding: 0 15px 0 10px;

		@include breakpoint($bp-md-up) {
			position: absolute;
			right: -15px;
		}

		@include breakpoint($bp-lg-up) {
			position: absolute;
			right: -144px;
		}

		&-icon {
			width: 16px;
			height: 16px;
			display: inline-block;
			margin-right: 10px;
			vertical-align: middle;
			margin-top: -2px;
		}
	}
}