// section styles
.section {
	padding: 40px 15px;
	position: relative;

	&__headline {
		padding: 0 10px;
		font-weight: 300;
		font-size: 35px;
		letter-spacing: 0.5px;
		color: rgba(0, 125, 199, 1);
		text-transform: uppercase;
		text-align: center;

		&--spaced-top {
			margin-top: 30px;
		}

		&-text {
			display: inline;
		}

		&-icon {
			height: 1em;
			width: 1em;
			margin-right: 12px;
			position: relative;
			top: 3px;
			display: inline-block;
		}

		@include breakpoint($bp-sm-up) {
			text-align: left;
		}

		&-link {
			font-size: 14px;
			line-height: 1.4;
			letter-spacing: 0.2px;
			color: rgba(0, 0, 0, 0.6);
			float: right;
		}
	}

	&__sub-headline {
		font-size: 20px;
		line-height: 1.5;
		letter-spacing: 1.7px;
		color: #333333;
	}

	&__wrapper {
		margin: 0 auto;
		max-width: 992px;
		position: relative;
	}

	&--grey {
		background: rgba(244, 244, 244, 1);
	}

	&--white {
		background: white;
	}

	+ section {
		border-top: 1px solid rgba(0, 125, 199, 1);
	}

	&__badge {
		background: rgba(0, 125, 199, 1);
		color: white;
		text-transform: uppercase;
		font-family: Lato;
		font-weight: 400;
		font-size: 18px;
		line-height: 2.2;
		letter-spacing: 0.3px;
		color: rgba(255, 255, 255, 1);
		padding: 0 15px 0 10px;

		&-icon {
			width: 20px;
			height: 20px;
			display: inline;
			margin-right: 5px;
			vertical-align: middle;
		}
	}

	&__block {
		&--tiled {
			background: white;
			border: 1px solid #cccccc;
		}

		&:not(:first-of-type) {
			margin-top: 10px;
		}

		ol {
			list-style-type: decimal;
			padding-left: 20px;
		}

		ul {
			list-style-type: disc;
			padding-left: 20px;
		}

		p + p,
		h3 + p,
		p + ol {
			margin-top: 10px;
		}
	}
}