mixin section-headline(spec)
    - spec = spec || ''

    h2(class="section__headline")
        svg(class="section__headline-icon")
            use(xlink:href=spec.icon)
        = spec.title
        block


mixin section-badge(spec)
    - spec = spec || ''

    div(class="section__badge")
        svg(class="section__badge-icon")
            use(xlink:href=spec.icon)
        = spec.title

