@charset "UTF-8";
/**[class^="grid__col"] {
	outline: 1px dotted #000;
}*/
/**
 * ENGINE
 * v0.2 | 20150615
 * License: none (public domain)
 */
@import "https://fonts.googleapis.com/css?family=Lato:400,300,700";
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
textarea,
button {
  font-family: inhert;
  font-size: inherit;
  color: inherit;
}

select {
  text-indent: .01px;
  text-overflow: '';
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*! Reflex v1.0.9 - https://github.com/leejordan/reflex */
/*
 *
 * Reflex is a flexbox grid which provides a way to take advantage of emerging
 * flexbox support while providing a fall back to inline-block on older browsers
 *
 * Built by Lee Jordan G.C.S.E.
 * email: ldjordan@gmail.com
 * github: https://github.com/leejordan
 *
 * Structure and calculations are inspired by twitter bootstrap
 *
 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  *display: inline;
  zoom: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
  letter-spacing: -0.31em !important;
  *letter-spacing: normal !important;
  word-spacing: -0.43em !important;
  list-style-type: none;
}

.grid:before, .grid:after {
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  max-width: 100%;
}

.grid *:before,
.grid *:after {
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
}

.grid .grid {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
}

[class*="grid__col-"] {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  *display: inline;
  zoom: 1;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 10px;
}

.grid__cell {
  position: relative;
  display: block;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
}

_:-ms-fullscreen, :root .grid__cell {
  width: 100%;
}

.grid__col-12 {
  width: 100%;
  *width: 99.9%;
}

.grid__col-11 {
  width: 91.6666666667%;
  *width: 91.5666666667%;
}

.grid__col-10 {
  width: 83.3333333333%;
  *width: 83.2333333333%;
}

.grid__col-9 {
  width: 75%;
  *width: 74.9%;
}

.grid__col-8 {
  width: 66.6666666667%;
  *width: 66.5666666667%;
}

.grid__col-7 {
  width: 58.3333333333%;
  *width: 58.2333333333%;
}

.grid__col-6 {
  width: 50%;
  *width: 49.9%;
}

.grid__col-5 {
  width: 41.6666666667%;
  *width: 41.5666666667%;
}

.grid__col-4 {
  width: 33.3333333333%;
  *width: 33.2333333333%;
}

.grid__col-3 {
  width: 25%;
  *width: 24.9%;
}

.grid__col-2 {
  width: 16.6666666667%;
  *width: 16.5666666667%;
}

.grid__col-1 {
  width: 8.3333333333%;
  *width: 8.2333333333%;
}

@media (min-width: 480px) {
  .grid__col-xs-12 {
    width: 100%;
    *width: 99.9%;
  }
  .grid__col-xs-11 {
    width: 91.6666666667%;
    *width: 91.5666666667%;
  }
  .grid__col-xs-10 {
    width: 83.3333333333%;
    *width: 83.2333333333%;
  }
  .grid__col-xs-9 {
    width: 75%;
    *width: 74.9%;
  }
  .grid__col-xs-8 {
    width: 66.6666666667%;
    *width: 66.5666666667%;
  }
  .grid__col-xs-7 {
    width: 58.3333333333%;
    *width: 58.2333333333%;
  }
  .grid__col-xs-6 {
    width: 50%;
    *width: 49.9%;
  }
  .grid__col-xs-5 {
    width: 41.6666666667%;
    *width: 41.5666666667%;
  }
  .grid__col-xs-4 {
    width: 33.3333333333%;
    *width: 33.2333333333%;
  }
  .grid__col-xs-3 {
    width: 25%;
    *width: 24.9%;
  }
  .grid__col-xs-2 {
    width: 16.6666666667%;
    *width: 16.5666666667%;
  }
  .grid__col-xs-1 {
    width: 8.3333333333%;
    *width: 8.2333333333%;
  }
}

@media (min-width: 768px) {
  .grid__col-sm-12 {
    width: 100%;
    *width: 99.9%;
  }
  .grid__col-sm-11 {
    width: 91.6666666667%;
    *width: 91.5666666667%;
  }
  .grid__col-sm-10 {
    width: 83.3333333333%;
    *width: 83.2333333333%;
  }
  .grid__col-sm-9 {
    width: 75%;
    *width: 74.9%;
  }
  .grid__col-sm-8 {
    width: 66.6666666667%;
    *width: 66.5666666667%;
  }
  .grid__col-sm-7 {
    width: 58.3333333333%;
    *width: 58.2333333333%;
  }
  .grid__col-sm-6 {
    width: 50%;
    *width: 49.9%;
  }
  .grid__col-sm-5 {
    width: 41.6666666667%;
    *width: 41.5666666667%;
  }
  .grid__col-sm-4 {
    width: 33.3333333333%;
    *width: 33.2333333333%;
  }
  .grid__col-sm-3 {
    width: 25%;
    *width: 24.9%;
  }
  .grid__col-sm-2 {
    width: 16.6666666667%;
    *width: 16.5666666667%;
  }
  .grid__col-sm-1 {
    width: 8.3333333333%;
    *width: 8.2333333333%;
  }
}

@media (min-width: 992px) {
  .grid__col-md-12 {
    width: 100%;
    *width: 99.9%;
  }
  .grid__col-md-11 {
    width: 91.6666666667%;
    *width: 91.5666666667%;
  }
  .grid__col-md-10 {
    width: 83.3333333333%;
    *width: 83.2333333333%;
  }
  .grid__col-md-9 {
    width: 75%;
    *width: 74.9%;
  }
  .grid__col-md-8 {
    width: 66.6666666667%;
    *width: 66.5666666667%;
  }
  .grid__col-md-7 {
    width: 58.3333333333%;
    *width: 58.2333333333%;
  }
  .grid__col-md-6 {
    width: 50%;
    *width: 49.9%;
  }
  .grid__col-md-5 {
    width: 41.6666666667%;
    *width: 41.5666666667%;
  }
  .grid__col-md-4 {
    width: 33.3333333333%;
    *width: 33.2333333333%;
  }
  .grid__col-md-3 {
    width: 25%;
    *width: 24.9%;
  }
  .grid__col-md-2 {
    width: 16.6666666667%;
    *width: 16.5666666667%;
  }
  .grid__col-md-1 {
    width: 8.3333333333%;
    *width: 8.2333333333%;
  }
}

@media (min-width: 1200px) {
  .grid__col-lg-12 {
    width: 100%;
    *width: 99.9%;
  }
  .grid__col-lg-11 {
    width: 91.6666666667%;
    *width: 91.5666666667%;
  }
  .grid__col-lg-10 {
    width: 83.3333333333%;
    *width: 83.2333333333%;
  }
  .grid__col-lg-9 {
    width: 75%;
    *width: 74.9%;
  }
  .grid__col-lg-8 {
    width: 66.6666666667%;
    *width: 66.5666666667%;
  }
  .grid__col-lg-7 {
    width: 58.3333333333%;
    *width: 58.2333333333%;
  }
  .grid__col-lg-6 {
    width: 50%;
    *width: 49.9%;
  }
  .grid__col-lg-5 {
    width: 41.6666666667%;
    *width: 41.5666666667%;
  }
  .grid__col-lg-4 {
    width: 33.3333333333%;
    *width: 33.2333333333%;
  }
  .grid__col-lg-3 {
    width: 25%;
    *width: 24.9%;
  }
  .grid__col-lg-2 {
    width: 16.6666666667%;
    *width: 16.5666666667%;
  }
  .grid__col-lg-1 {
    width: 8.3333333333%;
    *width: 8.2333333333%;
  }
}

@media (min-width: 1600px) {
  .grid__col-xlg-12 {
    width: 100%;
    *width: 99.9%;
  }
  .grid__col-xlg-11 {
    width: 91.6666666667%;
    *width: 91.5666666667%;
  }
  .grid__col-xlg-10 {
    width: 83.3333333333%;
    *width: 83.2333333333%;
  }
  .grid__col-xlg-9 {
    width: 75%;
    *width: 74.9%;
  }
  .grid__col-xlg-8 {
    width: 66.6666666667%;
    *width: 66.5666666667%;
  }
  .grid__col-xlg-7 {
    width: 58.3333333333%;
    *width: 58.2333333333%;
  }
  .grid__col-xlg-6 {
    width: 50%;
    *width: 49.9%;
  }
  .grid__col-xlg-5 {
    width: 41.6666666667%;
    *width: 41.5666666667%;
  }
  .grid__col-xlg-4 {
    width: 33.3333333333%;
    *width: 33.2333333333%;
  }
  .grid__col-xlg-3 {
    width: 25%;
    *width: 24.9%;
  }
  .grid__col-xlg-2 {
    width: 16.6666666667%;
    *width: 16.5666666667%;
  }
  .grid__col-xlg-1 {
    width: 8.3333333333%;
    *width: 8.2333333333%;
  }
}

.grid__col-auto {
  -ms-flex: 1 0 0px;
  -webkit-box-flex: 1;
          flex: 1 0 0px;
  width: auto !important;
  max-width: 100%;
}

@media (min-width: 480px) {
  .grid__col-xs-auto {
    -ms-flex: 1 0 0px;
    -webkit-box-flex: 1;
            flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .grid__col-sm-auto {
    -ms-flex: 1 0 0px;
    -webkit-box-flex: 1;
            flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .grid__col-md-auto {
    -ms-flex: 1 0 0px;
    -webkit-box-flex: 1;
            flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .grid__col-lg-auto {
    -ms-flex: 1 0 0px;
    -webkit-box-flex: 1;
            flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}

@media (min-width: 1600px) {
  .grid__col-xlg-auto {
    -ms-flex: 1 0 0px;
    -webkit-box-flex: 1;
            flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}

.grid--order-12 {
  -ms-flex-order: 12;
  -webkit-box-ordinal-group: 13;
          order: 12;
}

.grid--order-11 {
  -ms-flex-order: 11;
  -webkit-box-ordinal-group: 12;
          order: 11;
}

.grid--order-10 {
  -ms-flex-order: 10;
  -webkit-box-ordinal-group: 11;
          order: 10;
}

.grid--order-9 {
  -ms-flex-order: 9;
  -webkit-box-ordinal-group: 10;
          order: 9;
}

.grid--order-8 {
  -ms-flex-order: 8;
  -webkit-box-ordinal-group: 9;
          order: 8;
}

.grid--order-7 {
  -ms-flex-order: 7;
  -webkit-box-ordinal-group: 8;
          order: 7;
}

.grid--order-6 {
  -ms-flex-order: 6;
  -webkit-box-ordinal-group: 7;
          order: 6;
}

.grid--order-5 {
  -ms-flex-order: 5;
  -webkit-box-ordinal-group: 6;
          order: 5;
}

.grid--order-4 {
  -ms-flex-order: 4;
  -webkit-box-ordinal-group: 5;
          order: 4;
}

.grid--order-3 {
  -ms-flex-order: 3;
  -webkit-box-ordinal-group: 4;
          order: 3;
}

.grid--order-2 {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.grid--order-1 {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.grid--order-0 {
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
}

.grid--bleed [class*="grid__col-"] {
  padding: 0;
}

.grid--wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid--no-wrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.grid--wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.grid--direction-row {
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.grid--direction-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

.grid--direction-column {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.grid--direction-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}

.grid--align-start {
  -ms-flex-align: flex-start;
  -webkit-box-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
}

.grid--align-end {
  -ms-flex-align: flex-end;
  -webkit-box-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end;
}

.grid--align-end [class*="grid__col-"] {
  vertical-align: bottom;
}

.grid--align-center {
  -ms-flex-align: center;
  -webkit-box-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

.grid--align-center [class*="grid__col-"] {
  vertical-align: middle;
}

.grid--align-baseline {
  -ms-flex-align: baseline;
  -webkit-box-align: baseline;
              -ms-grid-row-align: baseline;
          align-items: baseline;
}

.grid--align-baseline [class*="grid__col-"] {
  vertical-align: baseline;
}

.grid--align-content-start {
  -ms-flex-line-pack: flex-start;
  align-content: flex-start;
}

.grid--align-content-end {
  -ms-flex-line-pack: flex-end;
  align-content: flex-end;
}

.grid--align-content-end [class*="grid__col-"] {
  vertical-align: bottom;
}

.grid--align-content-center {
  -ms-flex-line-pack: center;
  align-content: center;
}

.grid--align-content-space-between {
  -ms-flex-line-pack: space-between;
  align-content: space-between;
}

.grid--align-content-space-around {
  -ms-flex-line-pack: space-around;
  align-content: space-around;
}

.grid--align-self-stretch {
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.grid--align-self-start {
  -ms-flex-item-align: flex-start;
  align-self: flex-start;
}

.grid--align-self-end {
  -ms-flex-item-align: flex-end;
  align-self: flex-end;
  vertical-align: bottom;
}

.grid--align-self-center {
  -ms-flex-item-align: center;
  align-self: center;
  vertical-align: middle;
}

.grid--align-self-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  vertical-align: baseline;
}

.grid--justify-start {
  text-align: left;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.grid--justify-end {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.grid--justify-end .grid__cell {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
}

.grid--justify-center {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.grid--justify-center .grid__cell {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
}

.grid--justify-space-between {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.grid--justify-space-between .grid__cell {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
}

.grid--justify-space-around {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
}

.grid--justify-space-around .grid__cell {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
}

.grid__col--bleed {
  padding: 0;
}

.grid__cell--padding-sm {
  padding: 5px;
}

.grid__cell--padding-md {
  padding: 10px;
}

.grid__cell--padding-lg {
  padding: 20px;
}

.grid__cell-img {
  display: block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.grid__cell-footer {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  *display: inline;
  zoom: 1;
  width: 100%;
  margin-top: auto;
}

.nav {
  display: block;
}

.nav a {
  font-size: inherit;
  color: #7d8c93;
  font-weight: 400;
  display: block;
  white-space: nowrap;
}

.nav a:hover {
  color: black;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 0) and (max-width: 768px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav__list--l1 {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.nav__list--l2 {
  display: none;
  text-transform: none;
}

@media (min-width: 768px) {
  .nav__list--l2 {
    position: absolute;
    background: white;
    z-index: 600;
    margin: 0 0 0 -15px;
    padding: 20px 0px;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
  }
}

.is-active .nav__list--l2 {
  display: block;
}

.nav__listitem {
  margin: 0;
  padding: 0;
  display: block;
}

@media (min-width: 0) and (max-width: 768px) {
  .nav__listitem--l1 > a {
    padding: 13px 0;
  }
}

@media (min-width: 768px) {
  .nav__listitem--l1 > a {
    padding: 25px 0 23px;
  }
}

.nav__listitem--l2 > a {
  letter-spacing: 1.9px;
  line-height: 1.7;
}

@media (min-width: 0) and (max-width: 768px) {
  .nav__listitem--l2 > a {
    padding: 3px 0;
  }
}

@media (min-width: 768px) {
  .nav__listitem--l2 > a {
    padding: 0 26px;
  }
}

.nav__listitem--badge > a {
  color: #d0021b;
}

.nav__listitem--badge > a:hover {
  color: #9d0214;
}

.nav__listitem-text {
  display: inline-block;
  margin-right: 5px;
}

.nav__listitem-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  top: 1px;
  vertical-align: top;
}

@media (min-width: 768px) {
  .nav__listitem-icon {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.header {
  z-index: 200;
  background: white;
  position: relative;
}

.header__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 0) and (max-width: 768px) {
  .header__off-canvas {
    width: 269px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    z-index: 400;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 62px 20px 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .header__off-canvas.is-visible {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__off-canvas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-calc(100% - 220px);
    width: calc(100% - 220px);
    background: white;
    z-index: 700;
    height: 70px;
  }
  .header__nav, .header__search, .header__language-selection {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .header__nav {
    width: 70%;
    padding: 12px 0;
  }
  .header__search {
    width: 20%;
  }
  .header__language-selection {
    width: 10%;
  }
  .header__nav-toggle {
    display: none;
  }
  .header__visual {
    width: 100%;
  }
}

.header__nav-toggle {
  position: absolute;
  left: 0;
  top: 0;
  height: 62px;
  line-height: 62px;
  z-index: 600;
}

.header__nav-toggle button {
  border: none;
  background: none;
  color: #8493a8;
  vertical-align: middle;
  display: inline-block;
}

@media (min-width: 0) and (max-width: 768px) {
  .header__logo {
    padding: 9px 30px 10px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 500;
    background: white;
    line-height: 1;
  }
}

@media (min-width: 768px) {
  .header__logo {
    width: 220px;
    padding: 12px 30px 11px;
  }
}

.header__logo a {
  display: inline-block;
}

.header__logo img {
  width: 160px;
  height: 41px;
  display: block;
}

.header__visual {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: -webkit-calc(196px + 40px);
  min-height: calc(196px + 40px);
}

@media (min-width: 768px) {
  .header__visual {
    border-top: 40px solid #00488D;
  }
}

.header__visual-image {
  display: block;
  width: 100%;
  height: auto;
}

.header-overlay {
  background: rgba(0, 56, 101, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 25px 15px;
}

.header-overlay__headline {
  font-size: 20px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.header-overlay__text {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.2;
  font-style: italic;
}

.header-overlay__text:before, .header-overlay__text:after {
  content: "";
  display: table;
}

.header-overlay__text:after {
  clear: both;
}

.header-overlay__page-indicator {
  text-align: center;
  display: inline-block;
}

.header-overlay__page-indicator > a {
  color: white;
  text-decoration: none;
  height: 14px;
  width: 14px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 0;
  display: inline-block;
  margin: 0 3px;
}

.header-overlay__page-indicator > a.is-active {
  background: white;
}

.header-overlay__page-indicator > a:not(.is-active):hover {
  border: 1px solid #e6e6e6;
  background: #e6e6e6;
}

.header-overlay__link {
  background-color: rgba(254, 254, 254, 0.3);
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  color: white;
  cursor: pointer;
  display: block;
  height: 40px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 40px;
  text-align: center;
}

.header-overlay__link:hover {
  background: rgba(229, 229, 229, 0.3);
  color: #e6e6e6;
  border-color: #e6e6e6;
}

.header-overlay__link--prev {
  float: left;
  padding: 7px 5px 5px 4px;
}

.header-overlay__link--next {
  float: right;
  padding: 6px 2px 5px 5px;
}

.header-overlay__link-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.header-overlay__link-icon--prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer {
  background: #3d3d3d;
  color: white;
  padding: 15px;
}

.footer:before, .footer:after {
  content: "";
  display: table;
}

.footer:after {
  clear: both;
}

.footer__logo {
  display: inline-block;
}

.footer__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.footer__logo {
  width: 220px;
  height: 56px;
}

.footer__headline {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.8px;
  color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
  .footer__nav > div {
    float: left;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .footer__nav > div {
    float: left;
    width: 50%;
  }
  .footer__nav > div > div {
    float: left;
    width: 50%;
  }
}

.footer__nav ul {
  font-size: 13px;
  line-height: 1.9;
  letter-spacing: 1.6px;
  color: rgba(204, 204, 204, 0.8);
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  margin-bottom: 15px;
}

.footer__nav a {
  color: inherit;
  text-decoration: none;
}

.footer__nav a:hover {
  text-decoration: underline;
}

.footer ul,
.footer form {
  display: none;
}

.footer ul.is-active,
.footer form.is-active {
  display: block;
}

@media (min-width: 768px) {
  .footer ul,
  .footer form {
    display: block;
  }
}

.footer__address {
  opacity: 0.8;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.9;
  letter-spacing: 1.6px;
  color: #cccccc;
  white-space: pre-line;
}

@media (min-width: 992px) {
  .footer__address {
    text-align: center;
  }
}

.footer__newsletter, .footer__social {
  display: none;
}

@media (min-width: 768px) {
  .footer__newsletter, .footer__social {
    display: block;
  }
}

.social--footer {
  text-align: center;
}

.social__button {
  background-color: rgba(254, 254, 254, 0.3);
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(254, 254, 254, 0.3);
  color: #3d3d3d;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 40px;
  margin: 0 2px;
  text-align: center;
}

.social__button:hover {
  background: rgba(229, 229, 229, 0.3);
  color: #242424;
  border-color: rgba(229, 229, 229, 0.3);
}

.social__button-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.social__button--google-plus {
  padding: 6px 2px 5px 5px;
}

.social__button--facebook {
  padding: 6px 2px 5px 5px;
}

.social__button--linked-in {
  padding: 6px 2px 5px 5px;
}

.social__button--twitter {
  padding: 6px 2px 5px 5px;
}

.social__button--rss {
  padding: 6px 2px 5px 7px;
}

.social__button--mail {
  padding: 6px 2px 5px 7px;
}

.social__button--xing {
  padding: 6px 2px 5px 7px;
}

.section {
  padding: 40px 15px;
  position: relative;
}

.section__headline {
  padding: 0 10px;
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 0.5px;
  color: #007dc7;
  text-transform: uppercase;
  text-align: center;
}

.section__headline--spaced-top {
  margin-top: 30px;
}

.section__headline-text {
  display: inline;
}

.section__headline-icon {
  height: 1em;
  width: 1em;
  margin-right: 12px;
  position: relative;
  top: 3px;
  display: inline-block;
}

@media (min-width: 768px) {
  .section__headline {
    text-align: left;
  }
}

.section__headline-link {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.6);
  float: right;
}

.section__sub-headline {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.7px;
  color: #333333;
}

.section__wrapper {
  margin: 0 auto;
  max-width: 992px;
  position: relative;
}

.section--grey {
  background: #f4f4f4;
}

.section--white {
  background: white;
}

.section + section {
  border-top: 1px solid #007dc7;
}

.section__badge {
  background: #007dc7;
  color: white;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.2;
  letter-spacing: 0.3px;
  color: white;
  padding: 0 15px 0 10px;
}

.section__badge-icon {
  width: 20px;
  height: 20px;
  display: inline;
  margin-right: 5px;
  vertical-align: middle;
}

.section__block--tiled {
  background: white;
  border: 1px solid #cccccc;
}

.section__block:not(:first-of-type) {
  margin-top: 10px;
}

.section__block ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.section__block ul {
  list-style-type: disc;
  padding-left: 20px;
}

.section__block p + p,
.section__block h3 + p,
.section__block p + ol {
  margin-top: 10px;
}

.rating {
  border-radius: 2px;
  background-color: rgba(204, 204, 204, 0.3);
  border: solid 1px #cccccc;
  padding: 25px;
}

.rating__list li:not(:first-child) {
  margin-top: 40px;
}

.rating__list li:before, .rating__list li:after {
  content: "";
  display: table;
}

.rating__list li:after {
  clear: both;
}

.rating__label, .rating__value {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #000000;
  font-weight: 400;
}

.rating__label {
  float: left;
  width: 70%;
}

.rating__value {
  float: right;
  width: 25%;
  text-align: right;
}

.rating__bar {
  background: white;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  clear: both;
  position: relative;
}

.rating__bar > span {
  background: #007dc7;
  position: absolute;
  border-radius: 4px;
  left: 0;
  height: 100%;
  top: 0;
  display: block;
}

.quote {
  margin: 0;
}

.quote--default {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #969100;
  border-left: 4px solid #969100;
  padding: 10px 0 10px 25px;
}

.form--inline {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  height: 35px;
}

.form--inline:before, .form--inline:after {
  content: "";
  display: table;
}

.form--inline:after {
  clear: both;
}

.form__input {
  width: 100%;
  padding: 15px 25px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #7d8c93;
  border: 1px solid #cccccc;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.form__input--textarea {
  height: 193px;
}

.form__input--inline {
  padding: 5px 5px;
  height: 100%;
  display: block;
  border: 0;
  float: left;
  max-width: -webkit-calc(100% - 40px);
  max-width: calc(100% - 40px);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form__input:hover, .form__input:focus {
  border-color: #b3b3b3;
  color: #000;
}

.form__input.is-invalid {
  border-color: #d0021b;
}

.form__input.is-invalid:hover {
  border-color: #9d0214;
}

.form__input.is-invalid:focus {
  border-color: #b3b3b3;
}

.form__submit {
  background: #007dc7;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: inherit;
  border: 0;
  padding: 13px 25px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.form__submit:hover {
  background: #005d94;
  cursor: pointer;
}

.form__submit-icon {
  width: 14px;
  height: 14px;
}

.form__submit--inline {
  padding: 0;
  width: 40px;
  height: 100%;
  color: inherit;
  background: inherit;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.carousel__stage {
  overflow: hidden;
}

.carousel__slide-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.carousel__slide-list.is-viewing-2-slides {
  left: -50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.carousel__slide-list.is-viewing-3-slides {
  left: -33.33333%;
  -webkit-transform: translateX(33.33333%);
          transform: translateX(33.33333%);
}

.carousel__slide-list.is-reversing {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.carousel__slide-list.is-reversing.is-viewing-2-slides {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.carousel__slide-list.is-reversing.is-viewing-3-slides {
  -webkit-transform: translateX(-33.33333%);
          transform: translateX(-33.33333%);
}

.carousel__slide-list.is-set {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel__slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.is-viewing-2-slides .carousel__slide {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.is-viewing-3-slides .carousel__slide {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.carousel__slide.is-ref {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.carousel__controls:before, .carousel__controls:after {
  content: "";
  display: table;
}

.carousel__controls:after {
  clear: both;
}

.carousel__button {
  background-color: white;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  color: #3d3d3d;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 40px;
  margin: 0 2px;
  text-align: center;
  padding: 7px 5px 5px 4px;
}

.carousel__button:hover {
  background: #e6e6e6;
  color: #242424;
  border-color: #b3b3b3;
}

.carousel__button--prev {
  padding: 7px 5px 5px 4px;
}

.carousel__button--next {
  padding: 6px 2px 5px 5px;
}

.carousel__button-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.carousel__button-icon--prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.breadcrumb {
  background: #ffffff;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.breadcrumb ol {
  max-width: 992px;
  margin: 0 auto;
  padding: 10px 20px;
}

.breadcrumb ol > li {
  display: inline-block;
}

.breadcrumb ol > li:not(:first-child):before {
  content: "/";
  display: inline-block;
  color: #7d8c93;
  padding: 0 10px;
}

.breadcrumb ol > li:not(:last-child) a {
  color: #7d8c93;
}

.breadcrumb ol > li:last-child {
  color: #0F4C88;
}

.breadcrumb ol > li a {
  color: inherit;
}

.breadcrumb ol > li a:hover {
  text-decoration: underline;
}

.deck {
  text-align: center;
  width: 100%;
  height: 300px;
}

.deck__controls {
  display: block;
  margin-top: 20px;
  text-align: center;
  z-index: 500;
}

.deck__controls:before, .deck__controls:after {
  content: "";
  display: table;
}

.deck__controls:after {
  clear: both;
}

.deck__button {
  background-color: white;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  color: #3d3d3d;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 40px;
  margin: 0 2px;
  text-align: center;
  padding: 7px 5px 5px 4px;
}

.deck__button:hover {
  background: #e6e6e6;
  color: #242424;
  border-color: #b3b3b3;
}

.deck__button--prev {
  padding: 7px 5px 5px 4px;
}

.deck__button--next {
  padding: 6px 2px 5px 5px;
}

.deck__button-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.deck__button-icon--prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.deck__card {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  max-width: 600px;
  padding: 35px;
  -webkit-transform: scale(0) translateX(0);
          transform: scale(0) translateX(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 65%;
  z-index: 100;
  position: absolute;
  display: inline-block;
}

.deck__card--prev {
  -webkit-transform: scale(0.82) translateX(-35%);
          transform: scale(0.82) translateX(-35%);
  z-index: 300;
  left: 50%;
}

.deck__card--next {
  -webkit-transform: scale(0.82) translateX(35%);
          transform: scale(0.82) translateX(35%);
  z-index: 300;
  left: 50%;
}

.deck__card--active {
  background: white;
  -webkit-box-shadow: 0px 0px 5px 1px #dedede;
          box-shadow: 0px 0px 5px 1px #dedede;
  -webkit-transform: scale(1) translateX(0);
          transform: scale(1) translateX(0);
  z-index: 600;
}

.deck__card p + p {
  margin-top: 20px;
}

.deck__card-headline {
  text-transform: uppercase;
}

.deck__card-author {
  margin-top: 20px;
  font-weight: 400;
  display: block;
}

.pagination {
  text-align: center;
}

.pagination__link {
  display: inline-block;
  text-align: center;
  min-width: 28px;
  height: 28px;
  line-height: 1;
  font-size: 14px;
  letter-spacing: 1px;
  color: #4a4a4a;
  padding: 7px 0;
  margin: 0px 4px;
}

.pagination__link.is-active, .pagination__link:not(.pagination__link--prev):not(.pagination__link--next):hover {
  color: white;
  background: #007dc7;
}

.pagination__link--prev, .pagination__link--next {
  text-transform: uppercase;
}

.blog-teaser + .blog-teaser {
  margin-top: 30px;
}

.blog-teaser {
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
}

.blog-teaser__image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #979797;
  margin-top: 15px;
}

.blog-teaser__headline {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.7px;
}

.blog-teaser--extended .blog-teaser__headline {
  margin-top: 10px;
  color: #000000;
}

.blog-teaser--default .blog-teaser__headline {
  text-transform: uppercase;
  color: #333333;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.blog-teaser__pub-date {
  text-align: center;
}

.blog-teaser--extended .blog-teaser__pub-date {
  float: left;
}

.blog-teaser--extended .blog-teaser__pub-date:before {
  display: inline-block;
  content: "Datum:";
  font-weight: 400;
  margin-right: 3px;
}

.blog-teaser--default .blog-teaser__pub-date {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #000000;
}

.blog-teaser--extended .blog-teaser__author {
  float: right;
}

.blog-teaser--extended .blog-teaser__author:before {
  display: inline-block;
  content: "Autor:";
  font-weight: 400;
  margin-right: 3px;
}

.blog-teaser__link {
  color: #0f4c88;
  float: right;
}

.blog-teaser__link-icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: text-bottom;
}

.blog-teaser__tags {
  float: left;
}

.blog-teaser__tags:before {
  display: inline-block;
  content: "Tags:";
  font-weight: 400;
  margin-right: 3px;
}

.blog-teaser__tags a {
  display: inline-block;
  margin-left: 3px;
}

.blog-teaser__tags a:not(:last-of-type):after {
  content: ",";
  display: inline-block;
}

.blog-teaser__header {
  margin: 20px 25px 0;
}

.blog-teaser__header:before, .blog-teaser__header:after {
  content: "";
  display: table;
}

.blog-teaser__header:after {
  clear: both;
}

.blog-teaser--extended .blog-teaser__header {
  border-bottom: 1px solid #ccc;
  color: #7d8c93;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

.blog-teaser--default .blog-teaser__header {
  text-align: center;
}

.blog-teaser__footer {
  letter-spacing: 0.3px;
}

.blog-teaser__footer:before, .blog-teaser__footer:after {
  content: "";
  display: table;
}

.blog-teaser__footer:after {
  clear: both;
}

.blog-teaser--extended .blog-teaser__footer {
  margin-top: 30px;
  background: #4a4a4a;
  padding: 10px 25px;
  color: white;
}

.blog-teaser--default .blog-teaser__footer {
  padding: 10px 25px;
}

.blog-teaser__detail-link {
  text-align: right;
}

.blog-teaser__body {
  margin: 0 25px;
}

.blog-teaser__body .blog-teaser--extended p:first-of-type {
  margin-top: 20px;
}

.blog-sidebar {
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  padding: 20px 25px;
}

.blog-sidebar__headline {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.3px;
  color: #000000;
  text-transform: uppercase;
}

.blog-sidebar__tags a {
  display: inline-block;
  background: #007dc7;
  color: white;
  border-radius: 2px;
  margin: 0 8px 8px 0;
  padding: 4px 18px;
  line-height: 1;
}

.blog-sidebar__block {
  margin-bottom: 50px;
}

.blog-sidebar__categories ol {
  counter-reset: my-badass-counter;
}

.blog-sidebar__categories ol li:before {
  content: counter(my-badass-counter);
  counter-increment: my-badass-counter;
}

.blog-sidebar__categories a {
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: #595f6f;
}

.portfolio-teaser {
  text-align: center;
}

.portfolio-teaser__headline {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.7px;
  color: #333333;
  margin-top: 5px;
}

.portfolio-teaser__visual {
  max-width: 160px;
  max-height: 160px;
  border-radius: 50%;
  border: 2px solid #000000;
  display: inline-block;
}

.portfolio-teaser__body-text {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #000000;
  margin-bottom: 15px;
}

.team__member-title {
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #000000;
}

.team__member-quote {
  color: #000000;
  font-style: italic;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

@media (min-width: 768px) {
  .team__member-quote {
    font-size: 36px;
    letter-spacing: 0.6px;
    line-height: 1.1;
  }
}

.team__member-quote:before, .team__member-quote:after {
  display: inline;
}

.team__member-quote:before {
  content: "„";
}

.team__member-quote:after {
  content: "“";
}

.team__member-quote + p {
  margin-top: 20px;
}

.team__member-name {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #000000;
}

.team__member-image {
  border-radius: 50%;
  max-width: 174px;
  max-height: 174px;
  background-color: #ececed;
  border: 2px solid #cccccc;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: inline-block;
}

.team__member-image:hover {
  border: 2px solid #b3b3b3;
  background-color: #d2d2d4;
}

.team__member-info h3 {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.7px;
  color: #333333;
}

.team__member-info ul {
  line-height: 1.6;
  letter-spacing: 1px;
  color: #777777;
  list-style-type: disc;
  padding: 10px 0 0 20px;
}

.team-teasers {
  border: 1px solid #ccc;
  background: white;
}

.team-teaser {
  text-align: center;
}

.team-teaser:before, .team-teaser:after {
  content: "";
  display: table;
}

.team-teaser:after {
  clear: both;
}

@media (min-width: 768px) {
  .team-teaser {
    text-align: left;
  }
}

.team-teaser.grid__col-4 {
  background: white;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0;
}

.team-teaser.grid__col-4:nth-child(3n) {
  border-right: 0;
}

.team-teaser.grid__col-4:nth-last-child(-n + 3) {
  border-bottom: 0;
}

@media (min-width: 768px) {
  .team-teaser--list-view .team-teaser__body {
    padding: 0 60px;
    float: left;
    width: 70%;
  }
}

.team-teaser__link {
  display: block;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.team-teasers .team-teaser__link {
  padding: 30px 0;
}

.team-teasers .team-teaser__link:hover {
  background: #e6e6e6;
}

.team-teaser__image {
  text-align: center;
}

@media (min-width: 768px) {
  .team-teaser--list-view .team-teaser__image {
    float: left;
    width: 30%;
    max-width: 190px;
  }
}

.team-teaser__image img {
  display: inline-block;
}

.team-teaser__icon {
  color: #4a90e2;
  width: 25px;
  height: 13px;
}

.team-header {
  position: absolute;
  top: 0;
}

.team-header__body {
  text-align: center;
  padding: 0 60px;
}

.team-header__image {
  max-width: -webkit-calc(174px + 10px);
  max-width: calc(174px + 10px);
}

.link {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
  font-size: 16px;
}

.link:hover.u-color-red {
  color: #9d0214;
}

.link:hover.u-color-darkblue {
  color: #0a325a;
}

.link:hover.u-color-white {
  color: #e6e6e6;
}

.link:hover.u-color-darkgrey {
  color: rgba(0, 0, 0, 0.6);
}

.link__text {
  line-height: 1;
}

.link__text:hover {
  text-decoration: underline;
}

.link__icon, .link__text {
  display: inline-block;
  vertical-align: middle;
}

.link__icon {
  height: 1em;
  width: 1em;
  line-height: 1;
}

.link__icon--after {
  margin-left: 4px;
}

.link__icon--before {
  margin-right: 4px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #F4F4F4;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

strong {
  font-weight: 400;
}

svg {
  fill: currentColor;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-text-truncated {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.u-text-upper {
  text-transform: uppercase;
}

.u-text-strong {
  font-weight: 400;
}

.u-text-italic {
  font-style: italic;
}

.u-color-white {
  color: #fff;
}

.u-color-red {
  color: #d0021b;
}

.u-color-lightblue {
  color: #007dc7;
}

.u-color-darkblue {
  color: #0f4c88;
}

.u-color-darkgrey {
  color: rgba(0, 0, 0, 0.6);
}

.u-background-green {
  background: #969100;
}

.u-background-red {
  background: #d0021b;
}

.u-background-lightgrey {
  background: #cccccc;
}

.u-background-darkgrey {
  background: #4a4a4a;
}

.u-background-blue {
  background: #007dc7;
}

@media (min-width: 0) and (max-width: 768px) {
  .is-hidden-sm-down {
    display: none;
  }
}

@media (min-width: 768px) {
  .is-hidden-sm-up {
    display: none;
  }
}

.badge {
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #ffffff;
  border-radius: 20px;
  background-color: #d0021b;
  border: solid 1px #979797;
  text-align: center;
  min-width: 56px;
  height: 21px;
  line-height: 21px;
  white-space: nowrap;
  padding: 4px 10px;
}

.form--search .form__submit {
  color: #ccc;
}

.form--search .form__submit:hover {
  background: white;
  color: #b3b3b3;
}

/*# sourceMappingURL=main.css.map */
