extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

block content
    +breadcrumb([["Home", "/"],["AGB", "/agb/"]])
    +section({"class": "section--grey"})
        div(class="grid")
            div(class="grid__col-12 grid__col--bleed")
                +section-headline({icon: "#television", title: "Allgemeine Geschäftsbedingungen"})
            div(class="grid__col-12")
                +block()
                    +block-headline({title: "§1 Wirkungsbereich"})
                    p Unsere Allgemeinen Geschäftsbedingungen (AGB) gelten für den gesamten Geschäftsverkehr mit unseren Kunden, im Folgenden als "Klienten" bezeichnet. Die AGB werden vom Klienten automatisch durch die Auftragserteilung anerkannt. Sie gelten für die Dauer der Geschäftsbeziehung.
                    +block-headline({title: "§2 Auftragserteilung und Leistung"})
                    p 2.1 Grundlage der Geschäftbeziehung ist der jeweilige Beratungsvertrag, bzw. der schriftliche Auftrag des Klienten an uns, in dem der Leistungsumfang sowie die Vergütung festgehalten werden. 
                    p 2.2 Der Klient kann uns Aufträge telefonisch, postalisch, per Fax oder E-Mail erteilen: Ebenso nehmen wir formlose Aufträge entgegen. Der Klient erhält nach Auftragseingang eine Auftragsbestätigung per E-Mail oder postalisch. Mit dieser Auftragsbestätigung gilt der Auftrag als angenommen und der Beratungsvertrag als zustande gekommen. Diese Auftragsbestätigung ist maßgeblich für den Liefertermin. 
                    p 2.3 Bei besonderem Bedarf ziehen wir externe Berater, sachverständige Dritte, Hilfskräfte oder andere Erfüllungsgehilfen hinzu, die wir durch langjährige Zusammenarbeit kennen. Die Geschäftsbeziehung besteht in diesen Fällen weiterhin zwischen uns und dem Klienten, sofern nichts anderes vereinbart wurde. 
                    p 2.4 Aktualisierungen und Änderungen von Angeboten und Aufträgen werden von beiden Parteien schriftlich festgelegt und als Zusatzvereinbarung Bestandteil der Vertragsbeziehung zwischen uns und dem Klienten. 
                    +block-headline({title: "§3 Preise"})
                    p Alle Preise unserer Leistungen verstehen sich zzgl. der gesetzlichen Umsatzsteuer von derzeit 19 %. 
                    +block-headline({title: "§4 Zahlung und Fälligkeit"})
                    p 4.1 Unser Anspruch auf Zahlung des Preises entsteht für jede einzelne Leistung, sobald diese von uns erbracht wurde. Alle Leistungen von uns, die nicht ausdrücklich als im Preis vereinbart ausgewiesen werden, sind Nebenleistungen, die gesondert entlohnt werden. 
                    p 4.2 Sobald die Rechnung dem Klienten zugeht, ist der Preis zur Zahlung innerhalb von 14 Tagen fällig. 
                    p 4.3 Der Klient kommt auch ohne eine Mahnung unsererseits in Verzug, wenn er die Zahlung nicht innerhalb von 30 Tagen nach Fälligkeit und Zugang der Rechnung vornimmt. In diesem Fall sind wir berechtigt, Verzugszinsen in Höhe des gesetzlichen Zinssatzes zu fordern. 
                    p 4.4 Zur Aufrechnung und Zurückhaltung gleichartiger Forderungen ist der Klient nur berechtigt, wenn sie rechtskräftig festgestellt und unbestritten sind. Für ungleichartige Forderungen ist ein Zurückbehaltungsrecht auf Forderungen aus demselben Vertragsverhältnis beschränkt. 
                    p 4.5 Bei der Stornierung von beauftragten Leistungen werden folgende Zahlungen fällig:
                    ul 
                        li Absage bis 30 Tage vor Beginn der Veranstaltung: kein Honorar
                        li Absage 30 bis 14 Tage vor Beginn der Veranstaltung: 50 % Honorar
                        li Absage unter 14 Tagen vor Beginn der Veranstaltung: 80 % Honorar
                    +block-headline({title: "§5 Urheberrechte"})
                    p Begleitende Arbeitsmappen und Unterlagen unterliegen dem Urheberrecht und dürfen zu keiner Zeit und unter keinen Umständen fotomechanisch oder elektronisch vervielfältigt werden. Sie sind nur für den Gebrauch des Klienten bestimmt und dürfen nicht an Dritte weitergegeben werden. 
                    +block-headline({title: "§6 Mitwirkungspflicht des Klienten"})
                    p Der Klient stellt uns alle für die Durchführung des Auftrages erforderlichen Unterlagen, Informationen und Materialien zur Verfügung. 
                    +block-headline({title: "§7 Verschwiegenheitsklausel"})
                    p Wir sind verpflichtet, über alle uns im Rahmen der Beratungstätigkeit bekannt gewordenen betrieblichen, geschäftlichen und privaten Angelegenheiten Stillschweigen zu bewahren. Diese Verpflichtung zur Verschwiegenheit gilt im gleichen Maße für unsere Erfüllungsgehilfen. Die Schweigepflicht gilt auch nach Beendigung des Vertrages und kann nur durch den Klienten selbst schriftlich aufgehoben werden. Darüber hinaus sind wir verpflichtet, die zum Zwecke der Beratungstätigkeit überlassenen Unterlagen sorgfältig zu verwahren und gegen Einsichtnahme Dritter zu schützen. 
                    +block-headline({title: "§8 Haftung"})
                    p 8.1 Die Beratungsfirma haftet in Fällen des Vorsatzes oder der groben Fahrlässigkeit nach den gesetzlichen Bestimmungen. Die Haftung für Garantien erfolgt verschuldensunabhängig. Für leichte Fahrlässigkeit haftet die Beratungsfirma ausschließlich nach den Vorschriften des Produkthaftungsgesetzes, wegen der Verletzung des Lebens, des Körpers oder der Gesundheit oder wegen der Verletzung wesentlicher Vertragspflichten. Der Schadensersatzanspruch für die leicht fahrlässige Verletzung wesentlicher Vertragspflichten ist jedoch auf den vertragstypischen, vorhersehbaren Schaden begrenzt, soweit nicht wegen der Verletzung des Lebens, des Körpers oder der Gesundheit gehaftet wird. Für das Verschulden von Erfüllungsgehilfen und Vertretern haftet die Beratungsfirma in demselben Umfang. 
                    p 8.2 Die Regelung des vorstehenden Absatzes (8.1) erstreckt sich auf Schadensersatz neben der Leistung, den Schadensersatz statt der Leistung und den Ersatzanspruch wegen vergeblicher Aufwendungen, gleich aus welchem Rechtsgrund, einschließlich der Haftung wegen Mängeln, Verzugs oder Unmöglichkeit. 
                    +block-headline({title: "§9 Mängelrüge"})
                    p 9.1 Wenn uns der Klient nicht innerhalb von 7 Tagen nach Abwicklung des Auftrags etwaige objektiv vorhandene, schwerwiegende Mängel meldet, so gilt der Auftrag als endgültig abgewickelt. 
                    p 9.2 Sollte der Klient eine Dienstleistung komplett in Frage stellen, muss diese Bemängelung durch ein von einem Dritten erstelltes, seriöses Gegengutachten untermauert werden. 
                    p 9.3 Sofern eine Mängelrüge erfolgt, muss uns die Möglichkeit zur Nachbesserung eingeräumt werden. Sollte diese Nachbesserung nachweislich erfolglos bleiben, so hat der Klient das Recht auf Minderung oder Wandlung. In jedem Fall aber ist die Haftung auf die Höhe des betreffenden Auftrags begrenzt. Haftungen, die auf der Verletzung eines Urheberrechts oder auf Ansprüchen Dritter basieren, übernehmen wir nicht. 
                    p 9.4 Wenn die Lieferfrist unangemessen lange überschritten worden ist – hier gilt die individuell vereinbarte Lieferfrist als Richtwert – und wir eine vom Klienten schriftlich mitgeteilte, angemessene Nachfrist nicht einhalten konnten, ist der Klient zum Rücktritt aus dem Vertrag berechtigt. 
                    +block-headline({title: "§10 Sektenpassus"})
                    p Unsere Arbeitsweise beruht auf einer fundierten, wissenschaftlichen Grundlage – nicht auf Ideologie oder Sektenkult. Deshalb distanzieren wir uns auch entschieden von Organisationen wie Scientology und dergleichen und lehnen jegliche Zusammenarbeit mit dieser oder ähnlichen Organisationen sowie ihnen nachstehenden Unternehmen ab. 
                    +block-headline({title: "§11 Salvatorische Klausel"})
                    p Sollte eine Bestimmung dieser Allgemeinen Geschäftsbedingungen unwirksam sein oder werden, so werden die übrigen Bestimmungen hiervon nicht berührt. Anstelle der unwirksamen Bestimmung soll eine Regelung treten, die im Rahmen des rechtlich Zulässigen dem Willen und Interesse beider Parteien am nächsten kommt.
                    +block-headline({title: "§12 Anzuwendendes Recht"})
                    p Auf die Rechtsbeziehungen zwischen dem Klienten und uns ist ausschließlich deutsches Recht anzuwenden. 
                    +block-headline({title: "§13 Erfüllungsort und Gerichtsstand"})
                    p 13.1 Erfüllungsort ist der Sitz unserer Beratungsfirma in Rohrbach. 
                    p 13.2 Als Gerichtsstand für alle sich mittelbar oder unmittelbar zwischen uns und dem Klienten ergebenden Streitigkeiten wird das für unseren Sitz in Landau örtlich zuständige Gericht vereinbart. 


