// team-teaser styles
.team {

	// member infos
	&__member {

		&-title {
			font-size: 16px;
			letter-spacing: 0.2px;
			color: #000000;
		}

		&-quote {
			color: #000000;
			font-style: italic;
			font-size: 22px;
			line-height: 1.5;
			letter-spacing: 0.3px;

			@include breakpoint($bp-sm-up) {
				font-size: 36px;
				letter-spacing: 0.6px;
				line-height: 1.1;
			}


			&:before,
			&:after {
				display: inline;
			}

			&:before {
				content: '„';
			}

			&:after {
				content: '“';
			}

			+ p {
				margin-top: 20px;
			}
		}

		&-name {
			font-weight: 400;
			font-size: 16px;
			letter-spacing: 0.2px;
			color: #000000;
		}

		&-image {
			border-radius: 50%;
			max-width: 174px;
			max-height: 174px;
			background-color: #ececed;
			border: 2px solid #cccccc;
			transition: all 0.2s ease-out;
			display: inline-block;

			&:hover {
				border: 2px solid darken(#cccccc, 10%);
				background-color: darken(#ececed, 10%);
			}
		}

		&-info {
			h3 {
				font-size: 20px;
				line-height: 1.5;
				letter-spacing: 1.7px;
				color: #333333;
			}

			ul {
				line-height: 1.6;
				letter-spacing: 1px;
				color: #777777;
				list-style-type: disc;
				padding: 10px 0 0 20px;
			}
		}
	}

	// teasers wrapper container
	// for contact page (grid view)
	&-teasers {
		border: 1px solid #ccc;
		background: white;
	}

	&-teaser {
		@include clearfix();
		text-align: center;

		@include breakpoint($bp-sm-up) {
			text-align: left;
		}

		// team teaser inside a grid view, currently only 4col supported
		// no layout for any other size given yet
		&.grid__col-sm-4 {
			background: white;
			text-align: center;
			border-bottom: 1px solid #ccc;

			@include breakpoint($bp-sm-up) {
				border-right: 1px solid #ccc;
			}
			padding: 0;

			@include every(3) {
				border-right: 0;
			}

			@include last(3) {
				border-bottom: 0;
			}


		}

		&__body {
			.team-teaser--list-view & {
				@include breakpoint($bp-sm-up) {
					padding: 0 60px;
					float: left;
					width: 70%;
				}
			}
		}

		&__link {
			display: block;
			transition: background 0.3s ease-out;

			.team-teasers & { 
				padding: 30px 0;
				
				&:hover {
					background: darken(#fff, 10%);
				}
			}
		}

		&__image {
			text-align: center;

			.team-teaser--list-view & {

				@include breakpoint($bp-sm-up) {
					float: left;
					width: 30%;
					max-width: 190px;
				}
			}

			img {
				display: inline-block;
			}
		}

		&__icon {
			color: #4a90e2;
			width: 25px;
			height: 13px;
		}
	}

	&-header {
		position: absolute;
		top: 0;

		&__body {
			text-align: center;
			padding: 0 60px;
		}

		&__image {
			max-width: calc(174px + 10px);
		}
	}
}