// variables
$reflex-grid-spacing: 10px;

$color-white: #fff;
$color-red: rgba(208, 2, 27, 1);
$color-lightblue: rgba(0, 125, 199, 1);
$color-darkblue: rgba(15, 76, 136, 1);

$color-lightgrey: rgba(125, 140, 147, 1);
$color-darkgrey: rgba(0, 0, 0, 0.6);

// for debugging the grid
*[class^="grid__col"] {
	outline: 1px dotted #000;
}

@import 'node_modules/reset.scss/reset';

// https://github.com/at-import/breakpoint
@import 'node_modules/breakpoint-sass/stylesheets/breakpoint';
@import 'node_modules/reflex-grid/scss/reflex';

// http://lukyvj.github.io/family.scss/
@import 'node_modules/family.scss/family';

// Import Mixins
@import 'mixins';

// Import Modules
@import '../_modules/navigation/navigation';
@import '../_modules/header/header';
@import '../_modules/footer/footer';
@import '../_modules/social/social';
@import '../_modules/section/section';
@import '../_modules/rating/rating';
@import '../_modules/quote/quote';


// homepage elements
@import '../_modules/go/go';
@import '../_modules/form/form';


@import '../_modules/carousel/carousel';
@import '../_modules/breadcrumb/breadcrumb';
@import '../_modules/deck/deck';

@import '../_modules/pagination/pagination';
@import '../_modules/blog/blog';
@import '../_modules/portfolio-teaser/portfolio-teaser';
@import '../_modules/team/team';
@import '../_modules/link/link';

@import 'https://fonts.googleapis.com/css?family=Lato:400,300,700';


// Box sizing partial styles:
// Apply a natural box layout model to all elements
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #F4F4F4;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.6;
	color: #000000;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5 {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

strong {
	font-weight: 400;
}

svg {
	fill: currentColor;
}



.u {
	// text helper
	&-text {
		// left
		&-left {
			text-align: left;
		}
		// right
		&-right {
			text-align: right;
		}

		// center
		&-center {
			text-align: center;
		}

		// truncated
		&-truncated {
			text-overflow: ellipsis;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
		}

		// uppercase
		&-upper {
			text-transform: uppercase;
		}

		// strong
		&-strong {
			font-weight: 400;
		}

		// italic
		&-italic {
			font-style: italic;
		}
	}

	// color helpers
	&-color {
		&-white {
			color: $color-white;
		}

		&-red {
			color: $color-red;
		}

		&-lightblue {
			color: $color-lightblue;
		}

		&-darkblue {
			color: $color-darkblue;
		}

		&-darkgrey {
			color: $color-darkgrey;
		}
	}

	// background helpers
	&-background {
		
		// dirty green
		&-green {
			background: rgba(150, 145, 0, 1);
		}

		// red
		&-red {
			background: rgba(208, 2, 27, 1);
		}

		// light grey
		&-lightgrey {
			background: rgba(204, 204, 204, 1);
		}

		// dark grey
		&-darkgrey {
			background: rgba(74, 74, 74, 1);
		}

		&-blue {
			background: rgba(0, 125, 199, 1);
		}
	}
}

// states
.is {
	&-hidden {
		@include breakpoint($bp-sm-down) {
			&-sm-down {
				display: none;
			}
		}

		@include breakpoint($bp-sm-up) {
			&-sm-up {
				display: none;
			}
		}
	}
}