// variables
//$reflex-grid-spacing: 10px;

// Normalize Styles
@import 'node_modules/reset.scss/reset';
@import 'node_modules/breakpoint-sass/stylesheets/breakpoint';
@import 'node_modules/reflex-grid/scss/reflex';

// Import Mixins
@import 'mixins';

// Import Modules

@import '../_modules/navigation/navigation';
@import '../_modules/header/header';
@import '../_modules/footer/footer';
@import '../_modules/search/search';
@import '../_modules/social/social';
@import '../_modules/section/section';
@import '../_modules/rating/rating';
@import '../_modules/quote/quote';


// homepage elements
@import '../_modules/go/go';
@import '../_modules/vision/vision';

@import '../_modules/carousel/carousel';
@import '../_modules/breadcrumb/breadcrumb';
@import '../_modules/deck/deck';

@import '../_modules/pagination/pagination';
@import '../_modules/blog/blog';
@import '../_modules/portfolio-teaser/portfolio-teaser';
@import '../_modules/team/team';



@import '../_modules/newsletter/newsletter';
@import 'https://fonts.googleapis.com/css?family=Lato:400,300,700';


// Box sizing partial styles:
// Apply a natural box layout model to all elements
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #F4F4F4;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.6;
	color: #000000;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5 {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

strong {
	font-weight: 400;
}

svg {
	fill: currentColor;
}

input,
textarea {
	font-family: inherit;
	font-size: 16px;
	letter-spacing: 0.3px;
	color: #7d8c93;
	border: 1px solid #cccccc;
	transition: all 0.3s ease-out;

	&:focus {
		border-color: darken(#ccc, 10%);
		color: #000;
	}
}

/* text helper classes */
.u__text-center {
	text-align: center;
}

.u__text-right {
	text-align: right;
}

.u__text-upper {
	text-transform: uppercase;
}

.u__text-truncated {
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.u__text-strong {
	font-weight: 400;
}

.carousel__controls {
	display: none;

	@include breakpoint($bp-sm) {
		display: block;
	}

	&.carousel__controls--team-teaser {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 400;
		background: #f4f4f4;
	}
}

.form {

	&__input {
		width: 100%;
		padding: 15px 25px;
		border-radius: 2px;
		background-color: #ffffff;
		border: solid 1px #cccccc;

		+ input,
		+ submit,
		+ button {
			margin-top: 20px;
		}

		&--textarea {
			height: 193px;
		}
	}

	&__submit {
		background: #007dc7;
		text-align: center;
		font-size: 20px;
		text-transform: uppercase;
		color: #fff;
		font-weight: 400;
		padding: 9px 0 10px 0;
	}
}