@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

$small-only: 'max-width' 727px;
$medium-up: 'min-width' 728px;

$susy: (
    global-box-sizing: border-box,
    use-custom: (rem: true),
    columns: 12,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: inside
);

