@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

$bp-xs: 'min-width' 480px;
$bp-sm: 'min-width' 768px;
$bp-md: 'min-width' 992px;
$bp-lg: 'min-width' 1200px;
$bp-xlg: 'min-width' 1600px;

$small-only: 'max-width' 727px;
$medium-up: 'min-width' 728px;