// header styles
.header {
	z-index: 200;
	background: white;
	position: relative;

	&__wrapper {
		max-width: 1280px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		border-bottom: 4px solid #00488D;

		@include breakpoint($bp-sm-up) {
			border-bottom: 40px solid #00488D;
			display: flex;
			flex-wrap: wrap;
		}
	}

	// nav and nav toggle
	&__nav {
		@include breakpoint($bp-sm-down) {
			width: 269px;
			overflow: hidden;
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			background: white;
			z-index: 400;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
			padding: 62px 20px 0;
			transform: translateX(-100%);
			transition: all 0.3s ease-out;

			&.is-visible {
				transform: translateX(0);
			}
		}

		@include breakpoint($bp-sm-up) {
			display: flex;
			// calculated width all available space minus logo minus search
			width: calc(100% - 260px);
			background: white;
			z-index: 700;
			height: 70px;
			align-self: center;
		}

		@include breakpoint($bp-md-up) { 
			width: calc(100% - 450px);
		}

		&-toggle {
			align-self: center;
			display: none;
			border: none;
			background: none;
			background: white;
			color: #ccc;
			padding: 29px 0 23px;
			cursor: pointer;
			z-index: 6000;
			padding: 23px 10px 21px;

			@include breakpoint($bp-sm-down) {
				left: 0;
				display: block;
			}

			@include breakpoint($bp-md-up) {
				display: none;
			}
		}
	}

	// search and search toggle
	&__search {
		align-self: center;

		@include breakpoint($bp-md-down) {
			&:not(.is-visible) {
				form {
					display: none;
					transform: translateX(100%);
					position: absolute;
				}
			}

			&.is-visible {
				form {
					display: block;
					transform: translateX(0);
					position: absolute;
					top: 0;
					right: 0;
					z-index: 7000;
					margin: 17px 0 0 0;
					width: 300px;
				}
			}

			@include breakpoint($bp-sm-down) {
				&.is-visible {
					form {
						margin: 11px 0 0 0;
					}
				}
			}
		}

		&-toggle {
			align-self: center;
			display: none;
			border: none;
			background: none;
			background: white;
			color: #ccc;
			padding: 29px 0 23px;
			cursor: pointer;
			z-index: 6000;
			padding: 23px 10px 21px;

			@include breakpoint($bp-sm-down) {
				right: 0;
				display: block;
			}

			@include breakpoint($bp-sm-up) {
				display: block;
				right: 0;
				padding: 29px 10px 23px;

			}

			@include breakpoint($bp-md-up) {
				display: none;

			}
		}
	}

	// logo
	&__logo {
		@include breakpoint($bp-sm-down) {
			padding: 9px 30px 10px;
			width: calc(100% - 78px);
			text-align: center;
			position: relative;
			z-index: 500;
			background: white;
			line-height: 1;
		}

		@include breakpoint($bp-sm-up) {
			width: 220px;
			padding: 12px 30px 11px;
		}

		a {
			display: inline-block;
		}

		img {
			width: 160px;
			height: 41px;
			display: block;
		}
	}
}