// header styles
.header {
	height: calculateRem(60px);
	z-index: 200;
	background: white;

	&__menutoggle {
		position: absolute;
		left: 0;
	}

	@include media('medium-up') {
		height: calculateRem(70px);
		border-bottom: 1px solid #ccc;
		display: flex;

		&__menutoggle {
			display: none;
		}
	}

	&__logo {
		@include media(small-only) {
			position: absolute;
			left: calc(50% - 80px);
			display: block;
		}
	}

	&__offcanvas {
		@include media(small-only) {
			transform: translateX(-100%);
			transition: all 0.5s ease-out;
			position: absolute;
			height: 100vh;
			width: 85vw;
			top: calculateRem(60px);
			z-index: 100;
			background: white;
			box-shadow: 5px 0px 5px -3px rgba(153,153,153,1);

			&.is-visible {
				transform: translateX(0);
			}
		}
	}
}