mixin header(spec)
    - spec = spec || {}
    - spec.class = spec.class || ''

    header(class="header")&attributes(attributes)
        div(class="header__wrapper")
            button(class="header__nav-toggle")
                svg(class="form__submit-icon")
                    use(xlink:href="#menu")
            div(class="header__logo")
                a(href="/", title="Zur Startseite"): img(src='/images/logo--header.png')
            div(class="header__nav")
                button(class="header__nav-toggle")
                    svg(class="form__submit-icon")
                        use(xlink:href="#menu")
                +navigation({"class": "nav--main", "menu": site.data.menu})
            button(class="header__search-toggle")
                svg(class="form__submit-icon")
                    use(xlink:href="#search")
            div(class="header__search")
                +form-inline({"class": "form--search", "icon": "#search"})