// header styles
.header {
	z-index: 200;
	background: white;
	position: relative;

	&__wrapper {
		max-width: 1280px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		@include breakpoint($bp-sm-up) {
			border-bottom: 40px solid #00488D;
		}
	}

	// wrapper for navigation,
	// search and language selection
	// which is moved out of the canvas on mobile
	&__off-canvas {

		@include breakpoint($bp-sm-down) {
			width: 269px;
			overflow: hidden;
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			background: white;
			z-index: 400;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
			padding: 62px 20px 0;
			transform: translateX(-100%);
			transition: all 0.3s ease-out;

			&.is-visible {
				transform: translateX(0);
			}
		}
	}

	@include breakpoint($bp-sm-up) {
		&__wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		&__off-canvas {
			display: flex;
			// calculated width all available space minus logo
			// needs to be adjusted if logo should get more spacing
			width: calc(100% - 220px);
			background: white;
			z-index: 700;
			height: 70px;
		}

		&__nav,
		&__search,
		&__language-selection {
			align-self: center;
		}

		// wrapper for header navigation
		&__nav {
			width: 70%;
			padding: 12px 0;
		}

		// wrapper for the header search
		&__search {
			width: 20%;
		}

		// wrapper for language selection
		&__language-selection {
			width: 10%;
		}

		// nav toggle button only visible on mobile
		&__nav-toggle {
			display: none;
		}

		&__visual {
			width: 100%;
		}
	}

	&__nav-toggle {
		position: absolute;
		left: 0;
		top: 0;
		height: 62px;
		line-height: 62px;
		z-index: 600;

		button {
			border: none;
			background: none;
			color: #8493a8;
			vertical-align: middle;
			display: inline-block;
		}
	}

	&__logo {

		@include breakpoint($bp-sm-down) {
			padding: 9px 30px 10px;
			width: 100%;
			text-align: center;
			position: relative;
			z-index: 500;
			background: white;
			line-height: 1;
		}

		@include breakpoint($bp-sm-up) {
			width: 220px;
			padding: 12px 30px 11px;
		}

		a {
			display: inline-block;
		}

		img {
			width: 160px;
			height: 41px;
			display: block;
		}
	}

	// &__visual {
	// 	position: relative;
	// 	background-size: cover;
	// 	background-repeat: no-repeat;
	// 	width: 100%;

	// 	@include breakpoint($bp-sm-up) {
	// 		border-top: 40px solid #00488D;
	// 	}

	// 	// large breakpoint, check for mobile?!
	// 	min-height: calc(196px + 40px);
		
	// 	&-image {
	// 		display: block;
	// 		width: 100%;
	// 		height: auto;
	// 	}
	// }
}