mixin header(spec)
    - spec = spec || {}
    - spec.class = spec.class || ''

    header(class="header")&attributes(attributes)
        div(class="header__wrapper")
            div(class="header__nav-toggle")
                button ☰
            div(class="header__logo")
                a(href="/", title="Zur Startseite"): img(src='/images/logo--header.png')
            div(class="header__off-canvas")
                div(class="header__nav")
                    +navigation({"class": "nav--main", "menu": site.data.menu})
                //- div(class="header__search")
                //-     button(class="header__search-toggle")
                //-         svg(class="form__submit-icon")
                //-             use(xlink:href="#search")
                //-     +form-inline({"class": "form--search", "icon": "#search"})
                //- div(class="header__language-selection")
                //-     +navigation({"class": "nav--language", "menu": site.data.language})