block config
    //- Correct base url pathing for this page
    - var baseUrl = './'

header(id='header', class='header')
    div(class="header__wrapper")
        div(class="grid")
            div(class="grid__col-2")
                img(class='header__logo', src='/images/logo--header.png')
            div(class="grid__col-7")
                button(class='header__menutoggle') ☰
                include ../navigation/navigation.jade
            div(class="grid__col-3")
                form(class='header__search search') 
                    input(class="search__input")
                    button(type="button", class="search__submit") abschicken
                button(class='header__searchtoggle') ⚲
