// header styles
.header {
	z-index: 200;
	background: white;
	position: relative;

	&__wrapper {
		max-width: 1280px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	// wrapper for navigation,
	// search and language selection
	// which is moved out of the canvas on mobile
	&__off-canvas {

		@include breakpoint($bp-sm-down) {
			width: 0; 
			overflow: hidden;
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			background: white;
			z-index: 400;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
			padding: 62px 20px 0;

			&.is-visible {
				width: 269px;
			}
		}
	}

	@include breakpoint($bp-sm-up) {
		&__wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		&__off-canvas {
			display: flex;
			// calculated width all available space minus logo
			// needs to be adjusted if logo should get more spacing
			width: calc(100% - 220px);
			background: white;
			z-index: 700;
			height: 70px;
		}

		&__nav,
		&__search,
		&__language-selection {
			align-self: center;
		}

		// wrapper for header navigation
		&__nav {
			width: 70%;
			padding: 12px 0;
		}

		// wrapper for the header search
		&__search {
			width: 20%;
		}

		// wrapper for language selection
		&__language-selection {
			width: 10%;
		}

		// nav toggle button only visible on mobile
		&__nav-toggle {
			display: none;
		}

		&__visual {
			width: 100%;
		}
	}

	&__nav-toggle {
		position: absolute;
		left: 0;
		top: 0;
		height: 62px;
		line-height: 62px;
		z-index: 600;

		button {
			border: none;
			background: none;
			color: #8493a8;
			vertical-align: middle;
			display: inline-block;
		}
	}

	&__logo {

		@include breakpoint($bp-sm-down) {
			padding: 9px 30px 10px;
			width: 100%;
			text-align: center;
			position: relative;
			z-index: 500;
			background: white;
			line-height: 1;
		}

		@include breakpoint($bp-sm-up) {
			width: 220px;
			padding: 12px 30px 11px;
		}

		a {
			display: inline-block;
		}

		img {
			width: 160px;
			height: 41px;
			display: block;
		}
	}

	&__visual {
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;

		@include breakpoint($bp-sm-up) {
			border-top: 40px solid #00488D;
		}

		// large breakpoint, check for mobile?!
		min-height: calc(196px + 40px);
		
		&-image {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&-overlay {
		background: rgba(0, 56, 101, 0.8);
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		color: white;
		padding: 10px 25px 15px;

		&__headline {
			font-size: 20px;
			letter-spacing: 0.3px;
			text-transform: uppercase;
		}

		&__text {
			font-size: 20px;
			font-weight: 200;
			line-height: 1.2;
			@include clearfix();
			font-style: italic;
		}

		&__page-indicator {
			text-align: center;
			display: inline-block;

			> a {
				color: white;
				text-decoration: none;
				height: 14px;
				width: 14px;
				border: 1px solid #fff;
				border-radius: 50%;
				font-size: 0;
				display: inline-block;
				margin: 0 3px;

				&.is-active {
					background: white;
				}

				&:not(.is-active):hover {
					border: 1px solid darken(white, 10%);
					background: darken(white, 10%);
				}
			}
		}

		&__link {
			$background-color: rgba(254, 254, 254, 0.3);
			$color: rgba(255, 255, 255, 1);
			$border-color: rgba(255, 255, 255, 1);

			background-color: $background-color;
			border-radius: 50%;
			border-style: solid;
			border-width: 1px;
			border-color: $border-color;
			color: $color;
			cursor: pointer;
			display: block;
			height: 40px;
			transition: all 0.3s ease-out;
			width: 40px;
			text-align: center;

			&:hover {
				background: darken($background-color, 10%);
				color: darken($color, 10%);
				border-color: darken($border-color, 10%);
			}

			&--prev {
				float: left;
				// hacking with padding, since i dont get proper
				// made icons with no spacing around which would be the best
				// looks at least somehow centered now
				padding: 7px 5px 5px 4px;
			}

			&--next {
				float: right;
				// hacking with padding, since i dont get proper
				// made icons with no spacing around which would be the best
				// looks at least somehow centered now
				padding: 6px 2px 5px 5px;
			}

			&-icon {
				width: 25px;
				height: 25px;
				display: inline-block;

				&--prev {
					transform: rotate(180deg);
				}
			}
		}
	}
}