block config
    //- Correct base url pathing for this page
    - var baseUrl = './'

header(id='header', class='header')
    .header__wrapper
        .grid
            .grid__col-2
                a(href="/", title="Zur Startseite"): img(class='header__logo', src='/images/logo--header.png')
            .grid__col-7
                button(class='header__menutoggle') ☰
                include ../navigation/navigation.jade
            .grid__col-3
                form(class='header__search search') 
                    input(class="search__input")
                    button(type="button", class="search__submit")
                        svg(class="search__submit-icon")
                            use(xlink:href="#search")
                button(class='header__searchtoggle')
