mixin header(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    header(class="header")&attributes(attributes)
        div(class="header__wrapper")
            div(class="grid")
                div(class="grid__col-2")
                    a(href="/", title="Zur Startseite"): img(class='header__logo', src='/images/logo--header.png')
                div(class="grid__col-7")
                    button(class='header__menutoggle') ☰
                    include ../navigation/navigation.jade
                div(class="grid__col-3")
                    +form-inline({"class": "search", "icon": "#search"})
                    button(class='header__searchtoggle')
                div(class="header__visual")
                    img(class="header__visual-image", src=spec.visual)
                    block
