extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var deck = site.data.deck

block content
    +go({"class": "is-visible is-minimized", "visual": "/images/visuals/strukturen.jpg", "active": "Strukturen"})
        +go-overlay({"title": "Strukturen", "text": "Bacon ipsum dolor amet porchetta turducken boudin"})
    +section({"class": "section--grey"})
       