// social styles
.social {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #3d3d3d;

	@include breakpoint($small-only) {
		display: none;
	}

	> li {
		margin: 0;
		padding: 0;
		display: inline-block;
	}

	&__icon {
		width: 100%;
		height: 100%;
		fill: currentColor;
	}

	&__button {
		transition: color 0.2s ease-out;
		display: block;
		width: 40px;
		height: 40px;
		color: #ECECED;

		&:hover {
			color: #fff;
		}

		&--google-plus:hover {
			color: #dd4b39;
		}

		&--facebook:hover {
			color: #4460ae;
		}

		&--linked-in:hover {
			color: #0077b5;
		}

		&--twitter:hover {
			color: #00acec;
		}

		&--rss:hover {
			color: #FA9B39;
		}
	}
}
