// social styles
.social {
	
	&--footer {
		text-align: center;
	}

	&--contact {
		margin-top: 20px;

		a {
			border: 2px solid #7d8c93;
			color: #7d8c93;
			padding: 9px 4px 4px 4px;

			&:hover {
				border: 2px solid darken(#7d8c93, 10%);
				color: darken(#7d8c93, 10%);
			}

			.social__button-icon {
				width: 20px;
				height: 20px;
			}
		}
	}

	&__button {
		$background-color: rgba(254, 254, 254, 0.3);
		$border-color: rgba(254, 254, 254, 0.3);
		$color: rgba(61, 61, 61, 1);

		background-color: $background-color;
		border-radius: 50%;
		border-width: 1px;
		border-style: solid;
		border-color: $border-color;
		color: $color;
		cursor: pointer;
		display: inline-block;
		height: 40px;
		transition: all 0.3s ease-out;
		width: 40px;
		margin: 0 2px;
		text-align: center;

		&:hover {
			background: darken($background-color, 10%);
			color: darken($color, 10%);
			border-color: darken($border-color, 10%);
		}

		&-icon {
			width: 25px;
			height: 25px;
			display: inline-block;
		}

		&--google-plus {
			padding: 6px 2px 5px 5px;
		}

		&--facebook {
			padding: 6px 2px 5px 5px;
		}

		&--linked-in {
			padding: 6px 2px 5px 5px;
		}

		&--twitter {
			padding: 6px 2px 5px 5px;
		}

		&--rss {
			padding: 6px 2px 5px 7px;
		}

		&--mail {
			padding: 6px 2px 5px 7px;
		}

		&--xing {
			padding: 6px 2px 5px 7px;
		}
	}
}
