// social styles
.social {
	
	&--footer {
		text-align: center;
	}

	&--contact,
	&--team {
		margin-top: 20px;

		a {
			border: 2px solid #7d8c93;
			color: #7d8c93;

			&:hover {
				border: 2px solid darken(#7d8c93, 10%);
				color: darken(#7d8c93, 10%);
			}

			.social__button-icon {
				width: 20px;
				height: 20px;
			}
		}
	}

	&--team {
		margin-top: 0;
	}

	&__button {
		$background-color: rgba(254, 254, 254, 0.3);
		$border-color: rgba(254, 254, 254, 0.3);
		$color: rgba(61, 61, 61, 1);

		background-color: $background-color;
		border-radius: 50%;
		border-width: 1px;
		border-style: solid;
		border-color: $border-color;
		color: $color;
		cursor: pointer;
		display: inline-block;
		height: 40px;
		transition: all 0.3s ease-out;
		width: 40px;
		margin: 0 2px;
		text-align: center;

		&:hover {
			background: darken($background-color, 10%);
			color: darken($color, 10%);
			border-color: darken($border-color, 10%);
		}

		&-icon {
			width: 25px;
			height: 25px;
			margin: 7px 5px 5px 5px;
			display: inline-block;
		}
	}
}
