// social styles
.social {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #3d3d3d;

	@include breakpoint($small-only) {
		display: none;
	}

	> li {
		margin: 0;
		padding: 0;
		display: inline-block;
	}

	&__icon {
		//width: 40px;
		//height: 40px;
		width: 26px;
		height: 26px;
		fill: currentColor;
	}

	&__button {
		transition: background 0.2s ease-out;
		display: block;
		width: 40px;
		height: 40px;
		padding: 7px;
		border-radius: 50%;
		background: #fff;
		color: #3d3d3d;

		&:hover {
			color: #fff;
		}

		&--google-plus:hover {
			background: #dd4b39;
		}

		&--facebook:hover {
			background: #4460ae;
		}

		&--linked-in:hover {
			background: #0077b5;
		}

		&--twitter:hover {
			background: #00acec;
		}

		&--rss:hover {
			background: #FA9B39;
		}
	}
}