block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var menu = site.data.menu

mixin social-links(spec)
    - spec = spec || {}
    - spec.class = spec.class || ''

    div(class='social #{spec.class}')
        if spec.googleplus
            a(href='#', class='social__button social__button--google-plus')
                svg(class="social__button-icon")
                    use(xlink:href="#google-plus")
        if spec.facebook
            a(href='http://www.facebook.com/sharer.php?u=http://www.reflect.de', class='social__button social__button--facebook')
                svg(class="social__button-icon")
                    use(xlink:href="#facebook")
        if spec.linkedin
            a(href='#', class='social__button social__button--linked-in')
                svg(class="social__button-icon")
                    use(xlink:href="#linked-in")
        if spec.twitter
            a(href='', class='social__button social__button--twitter')
                svg(class="social__button-icon")
                    use(xlink:href="#twitter")
        if spec.rss
            a(href='#', class='social__button social__button--rss')
                svg(class="social__button-icon")
                    use(xlink:href="#rss")
        if spec.xing 
            a(href='#', class='social__button social__button--xing')
                svg(class="social__button-icon")
                    use(xlink:href="#xing")
        if spec.mail
            a(href='#', class='social__button social__button--mail')
                svg(class="social__button-icon")
                    use(xlink:href="#mail")
    
