block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

ul(class='social')
    li  
        a(href='#', class='social__button') google+
    li  
        a(href='#', class='social__button') facebook
    li  
        a(href='#', class='social__button') linked in
    li  
        a(href='#', class='social__button') twitter
    li  
        a(href='#', class='social__button') rss
