// link styles
.link {
	transition: all 0.2s ease-out;
	text-decoration: none;
	font-size: 16px;

	&:hover {
		&.u-color-red {
			color: darken($color-red, 10%);
		}

		&.u-color-darkblue {
			color: darken($color-darkblue, 10%);
		}

		&.u-color-white {
			color: darken($color-white, 10%);
		}

		&.u-color-darkgrey {
			color: darken($color-darkgrey, 10%);
		}
	}

	&__text {

		&:hover {
			text-decoration: underline;
		}
	}

	&__icon,
	&__text {
		display: inline-block;
	}

	&__icon {
		height: 1em;
		width: 1em;
		vertical-align: middle;

		&--after {
			margin-left: 4px;
		}

		&--before {
			margin-right: 4px;
		}
	}
}