// link styles
.link {

	&__text {
		line-height: 1;
		transition: all 0.2s ease-out;

		&:hover {
			text-decoration: underline;

			.u__color-red & {
				color: darken($color-red, 10%);
			}

			.u__color-darkblue & {
				color: darken($color-darkblue, 10%);
			}
		}
	}

	&__icon,
	&__text {
		display: inline-block;
		vertical-align: middle;
	}

	&__icon {
		height: 1em;
		width: 1em;
		line-height: 1;

		&--after {
			margin-left: 4px;
		}

		&--before {
			margin-right: 4px;
		}
	}
}