block config
    //- Correct base url pathing for this page
    - var baseUrl = "../"

mixin go(spec)
    - spec = spec || ""
    - spec.class = spec.class || ""

    div(class="go")
        div(class="go__inner")
            div(class="go__center--left")
            div(class="go__center--middle") GO
            div(class="go__center--right")
        div
            div(class="go__center--left")
            div(class="go__center--middle") Strategie
            div(class="go__center--right")
        div
            div(class="go__center--left")
            div(class="go__center--middle") Beziehungen
            div(class="go__center--right")
        div
            div(class="go__center--left")
            div(class="go__center--middle") 
            div(class="go__center--right")
        
        
