block config
    //- Correct base url pathing for this page
    - var baseUrl = "../"

mixin go(spec)
    - spec = spec || ""
    - spec.class = spec.class || ""

    div(class="go")
        svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 250 250", version="1.1", xmlns:xlink="http://www.w3.org/1999/xlink")
            path(class="go__inner go__inner--top-left", d="M99.7 123.4l11.2-19.5L100.6 86l-21.5 37.4")
            path(class="go__inner go__inner--bottom-left", d="M110.9 146.1l-11.2-19.5H79.1l21.5 37.4")
            path(class="go__inner go__inner--bottom", d="M136.3 147.7h-22.6l-10.3 17.9h43.2")
            path(class="go__inner go__inner--bottom-right", d="M150.3 126.6l-11.2 19.5 10.3 17.9 21.5-37.4")
            path(class="go__inner go__inner--top-right", d="M149.4 86l-10.3 17.9 11.2 19.5h20.6")
            path(class="go__inner go__inner--top", d="M103.4 84.4l10.3 17.9h22.6l10.3-17.9")
            
            a(class="go__center go__center--open", xlink:href="#")
                path(d="M113.7 144.5h22.6l11.2-19.5-11.2-19.5h-22.6L102.5 125", title="GO")
            a(class="go__center go__center--close", xlink:href="#")
                path(d="M113.7 144.5h22.6l11.2-19.5-11.2-19.5h-22.6L102.5 125", title="X")
            a(class="go__link go__link--top", xlink:href="/question/strategie.html")
                path(d="M148.4 81.2l23.5-40.6L148.4 0h-46.8L78.1 40.6l23.5 40.6", title="Strategie")
            a(class="go__link go__link--top-left", xlink:href="/question/strategie.html")
                path(d="M75.3 123.4l23.5-40.6-23.5-40.6H28.5L5 82.8l23.5 40.6", title="Prozesse")
            a(class="go__link go__link--top-right", xlink:href="/question/strategie.html")
                path(d="M174.7 123.4h46.8L245 82.8l-23.5-40.6h-46.8l-23.5 40.6", title="Beziehungen")
            a(class="go__link go__link--bottom-right", xlink:href="/question/strategie.html")
                path(d="M174.7 126.6l-23.5 40.6 23.5 40.6h46.8l23.5-40.6-23.5-40.6", title="Kultur")
            a(class="go__link go__link--bottom", xlink:href="/question/strategie.html")
                path(d="M101.6 168.8l-23.5 40.6 23.5 40.6h46.8l23.5-40.6-23.5-40.6", title="Mitarbeiter")
            a(class="go__link go__link--bottom-left", xlink:href="/question/strategie.html")
                path(d="M75.3 126.6H28.5L5 167.2l23.5 40.6h46.8l23.5-40.6", title="Strukturen")
