// go styles
.go {
	position: relative;
	text-align: center;
	line-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1280px;
	margin: 0 auto;

	@include breakpoint($bp-sm-up) {
		min-height: 400px;
	}

	> svg {
		max-height: 402px;
		width: auto;
		height: 100%;
		display: inline-block;
		vertical-align: middle;

		text {
			pointer-events: none;
			fill: currentColor;
		}
	}

	&.is-minimized {
		text-align: left;

		> svg {
			max-width: 225px;
			max-height: 225px;
			height: 100%;
			width: auto;
		}
	}

	// waben limbo
	&-comb {
		// center comb containing go and close link
		&__center {
			color: white;
			text-anchor: middle;
			font-weight: 600;
			font-size: 0.7em;

			&--open {
				.is-visible & {
					visibility: hidden;
				}

				path {
					fill: #5a6423;

					&:hover {
						fill: darken(#5a6423, 10%);
					}
				}
			}

			&--close {
				visibility: hidden;

				.is-visible & {
					visibility: visible;
				}

				path {
					fill: #d0021b;
					color: white;
					stroke-width: 1;
					stroke-location: inside;
					stroke: #fff;

					&:hover {
						fill: darken(#d0021b, 10%);
					}
				}
			}
		}

		// inner comb containing green shit
		&__inner {
			fill: #93901f;
			opacity: 0;
			transition: opacity 0.4s ease-out;

			.is-visible & {
				opacity: 1 !important;
				
			}

			&.is-teased {
				opacity: 0.8;
			}
		}

		// outer comb containing links
		&__outer {
			font-family: 'Lato', sans-serif;
			font-size: 0.65em;
			font-weight: 500;
			letter-spacing: 0.2px;
			color: #ffffff;
			text-transform: uppercase;
			text-anchor: middle;
			opacity: 0;
			transition: all 0.3s ease-in;

			&.is-active path,
			&:hover path {
				color: white;
				stroke-width: 1;
				stroke: white;
			}
			
			.is-visible & {
				opacity: 1;
				transition-delay: 0.1s;
			}

			&--top-left,
			&--top-right {
				path {
					fill: #42719F;
				}

				&:hover path {
					fill: darken(#42719F, 10%);
				}
			}

			&--top {
				path {
					fill: #154E86;
				}

				&:hover path {
					fill: darken(#154E86, 10%);
				}
			}

			&--bottom-left,
			&--bottom-right {
				path {
					fill: #7195B7;
				}

				&:hover path {
					fill: darken(#7195B7, 10%);
				}
			}

			&--bottom {
				path {
					fill: #A0B8CF;
				}

				&:hover  path {
					fill: darken(#A0B8CF, 10%);
				}
			}

			&:hover {
				fill: darken(#ffffff, 10%);
			}
		}
	}

	// overlay unterhalb des waben limbos
	&__overlay {
		background: rgba(0, 56, 101, 0.8);
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		color: white;
		height: 96px;
		padding: 7px 80px 10px;

		&-headline {
			font-size: 20px;
			letter-spacing: 0.3px;
			text-transform: uppercase;
			line-height: 1;
		}

		&-text {
			font-size: 20px;
			font-weight: 200;
			line-height: 1.1;
			@include clearfix();
			font-style: italic;
		}

		&-indicators {
			display: inline-block;
			@include clearfix();
			margin-top: 10px;

			> a {
				color: white;
				text-decoration: none;
				height: 14px;
				width: 14px;
				border: 1px solid #fff;
				border-radius: 50%;
				font-size: 0;
				display: block;
				margin: 0 3px;
				float: left;

				&.is-active {
					background: white;
				}

				&:not(.is-active):hover {
					border: 1px solid darken(white, 10%);
					background: darken(white, 10%);
				}
			}
		}
	}


	&__link {
		$background-color: rgba(254, 254, 254, 0.3);
		$color: rgba(255, 255, 255, 1);
		$border-color: rgba(255, 255, 255, 1);

		background-color: $background-color;
		border-radius: 50%;
		border-style: solid;
		border-width: 1px;
		border-color: $border-color;
		color: $color;
		cursor: pointer;
		display: block;
		height: 50px;
		transition: all 0.3s ease-out;
		width: 50px;
		padding: 15px;
		position: absolute;
		bottom: 0;
		top: calc(50% - 25px);

		&:hover {
			background: darken($background-color, 10%);
			color: darken($color, 10%);
			border-color: darken($border-color, 10%);
		}

		&--prev {
			left: 25px;
		}

		&--next {
			right: 25px;
		}

		&-icon {
			width: 100%;
			height: 100%;
			// display: inline-block;

			&--prev {
				transform: rotate(180deg);
			}
		}
	}
}