// go styles
.go {
	position: relative;

	@include breakpoint($bp-sm-up) {
		width: 100%;
		max-width: 400px;
		margin: 30px auto;
	}

	> svg {
		max-width: 500px;
		max-height: 500px;
		width: 100%;
		height: auto;

		text {
			pointer-events: none;
			fill: currentColor;
		}
	}

	&__link {
		font-family: 'Lato', sans-serif;
		font-size: 0.65em;
		font-weight: 500;
		letter-spacing: 0.2px;
		color: #ffffff;
		text-transform: uppercase;
		text-anchor: middle;
		opacity: 0;
		transition: all 0.2s ease-in;
		transition-delay: 0.1s;

		&.is-visible {
			opacity: 1;
		}

		&.is-active path,
		&:hover path {
			color: white;
			stroke-width: 1;
			stroke: white;
		}

		/*&--top {
			transition-delay: 0.15s;
		}
		&--top-right {
			transition-delay: 0.2s;
		}
		&--bottom-right {
			transition-delay: 0.25s;
		}
		&--bottom {
			transition-delay: 0.3s;
		}
		&--bottom-left {
			transition-delay: 0.35s;
		}
		&--top-left {
			transition-delay: 0.4s;
		}*/

		&--top-left,
		&--top-right {
			path {
				fill: #42719F;
			}

			&:hover path {
				fill: darken(#42719F, 10%);
			}
		}

		&--top {
			path {
				fill: #154E86;
			}

			&:hover path {
				fill: darken(#154E86, 10%);
			}
		}

		&--bottom-left,
		&--bottom-right {
			path {
				fill: #7195B7;
			}

			&:hover path {
				fill: darken(#7195B7, 10%);
			}
		}

		&--bottom {
			path {
				fill: #A0B8CF;
			}

			&:hover  path {
				fill: darken(#A0B8CF, 10%);
			}
		}

		&:hover {
			fill: darken(#ffffff, 10%);
		}
	}

	&__inner {
		fill: #93901f;
		opacity: 0;
		transition: opacity 0.2s ease-out;

		&.is-visible {
			opacity: 1;
		}
	}

	&__center {
		fill: #5a6423;
		color: white;
		text-anchor: middle;

		&:hover path {
			color: white;
			fill: darken(#5a6423, 10%);
		}
	}

	&__outer {
		transition: opacity 0.2s ease-out;
		transition-delay: 0.2s;
		opacity: 0;

		.is-visible & {
			opacity: 1;
		}

		&:hover,
		&.is-active {
			stroke: #fff;
			stroke-width: 1;
		}
	}
}