mixin portfolio-teaser(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''
    - spec.__icon = spec.__icon || ''

    div(class='portfolio-teaser')&attributes(attributes)
        svg(class="portfolio-teaser__visual")
            use(xlink:href=spec.icon)
        h3(class="portfolio-teaser__headline")= spec.title
        p(class="portfolio-teaser__body-text")= spec.text
