mixin portfolio-teaser(spec)
    - spec = spec || {}
    - spec.class = spec.class || ''

    div(class="grid__cell")
        div(class='portfolio-teaser')&attributes(attributes)
            img(class="portfolio-teaser__visual", src=spec.image)
            h3(class="portfolio-teaser__headline")= spec.title
            p(class="portfolio-teaser__body-text")= spec.text
