// webinar styles
.webinar {

	&-teaser {
		background: white;
		border: 1px solid #cccccc;
		

		&__body {
			padding: 20px;
		}

		header {
			padding: 15px 20px 0;

			h3 {
				font-size: 20px;
				line-height: 1.5;
				letter-spacing: 1.7px;
				color: #333333;
			}
		}

		&__body {
			a {
				font-size: 14px;
			}

			p {
				margin-bottom: 8px;
			}
		}

		footer {
			padding: 0px 20px;
			color: white;
			font-weight: 500;
		}

		&--unlocked footer {
			background: #969100;
		}

		&--locked footer {
			background: #d0021b;
		}

		&--free footer {
			background: #ccc;
		}
	}
}