extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var webinare = site.data.webinare

block content
    +breadcrumb([["Home", "/"],["Instrumente", "/instrumente"]])
    +section({"class": "section--grey"})
        +section-headline({icon: "#rocket", title: "Instrumente"})
        div(class="grid")
            each webinar in webinare
                div(class="grid__col-12 grid__col-sm-6")
                    +webinar-teaser({"class": "", "webinar": webinar})
