extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var webinare = site.data.webinare

block content
    +header({"class":"header--extended", "visual": "http://baconmockup.com/1280/188/", "visualSize": "0 0 32 5"})
    +breadcrumb([["Home", "/"],["Instrumente", "/instrumente"]])
    +section({"class": "section--grey"})
        +section-headline({icon: "#rocket", title: "Instrumente"})
        div(class="grid")
            each webinar in webinare
                div(class="grid__col-12 grid__col-sm-6")
                    +section-block({"class": "section__block--tiled" ,"title": webinar.title})
                        p= webinar.teaser
                        div(class="grid")
                            div(class="grid__col-6")
                                +link({"class": "u-color-red u-text-upper u-text-left","href": "/instrumente/registrierung/", "title": "Noch kein Zugang?", "iconBefore": "#question-circle"})
                            div(class="grid__col-6")
                                +link({"class": "u-color-darkblue u-text-upper u-text-right", "href": "#", "title": "Webinar öffnen", "iconAfter": "#long-arrow-right"})
                        if webinar.status === 'free'
                            div(class="section__block-footer u-bg-lg")
                                p Ohne Freischaltcode verfügbar
                        if webinar.status === 'locked'
                            div(class="section__block-footer u-bg-r")
                                p Seminar noch nicht freigeschaltet.
                        if webinar.status === 'unlocked'
                            div(class="section__block-footer u-bg-g")
                                p Seminar ist bereits freigeschaltet.


