extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var customers = site.data.customers

block content
    +header({"class":"header--extended", "visual": "http://baconmockup.com/1280/188/", "visualSize": "0 0 32 5"})
    +section({"id": "kunden","class": "section--grey"})
        div(class="grid")
            div(class="grid__col-12 grid__col-sm-4 grid__col--bleed")
                +section-headline({icon: "#television", title: "Kunden"})
            div(class="grid__col-sm-8 grid--align-self-center u-text-right is-hidden-sm-down")
                +customer-filters()
            div(class="grid__col-12")
                +customer-listing({"customers": customers.kundenlisting, "class": "customer-listing--large"})
    +section({"id": "reflectionen","class": "section--white"})
        div(class="grid")
            div(class="grid__col-12 grid__col--bleed")
                +section-headline({icon: "#television", title: "Reflectionen"})
            div(class="grid__col-12")
                +section-block()
                    p In unseren Beratungsprozessen sind wir immer wieder erfreut, wie kreativ, geistreich und humorvoll Menschen sein können. Inspiriert durch eine Radiosendung und durch unsere Kunden finden Sie hier alltägliche Reflectionen zum Sinnieren und Schmunzeln… Und vielleicht haben auch Sie ungewöhnliche Reflectionen?
            div(class="grid__col-12 carousel")&attributes({'data-carousel': '', 'data-carousel-nav': true, 'data-carousel-autoplay': 5000})
                +carousel-stage()
                    each reflection in customers.reflectionen
                        +carousel-slide()
                            +customer-reflection(reflection)
