extends _layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var portfolio = site.data.portfolio
    - var team = site.data.team
    - var blog = site.data.blog

block content
    +header({"class":"header--extended", "visual": "http://baconmockup.com/1280/600/", "visualSize": "0 0 32 15"})
        +header-overlay()
    +section({"class": "section--grey"})
        +section-badge({icon: "#yelp", title: "Unser Team wartet auf Sie"})
        +section-headline({icon: "#television", title: "Profil"})
        div(class="grid")
            div(class="grid__col-12 grid__col-sm-6")
                +section-block({title: "Philosophie"})
                    p Das Wesen unserer Arbeit erkennen Sie bereits in unserem Namen: Reflect steht für den Prozess reflektierten Handelns – gemeinsam mit Ihnen als Kunde. Denn durch gezielte Reflexion entstehen neue Perspektiven: Menschen können sich besser in die Lage anderer hineinversetzen. Der Blick kann sich mehrdimensionalen Lösungen öffnen. Der eigene Horizont erweitert sich. Und wo vorher keine Lösung mehr sichtbar oder denkbar war, entstehen herausragende Ideen und Optionen.
                +section-block({title: "Leitsätze - unsere 7 Standpunkte"})
                    p Wir nehmen regelmäßig neue Perspektiven ein. Das ist unser Job. Dennoch haben wir Prinzipien und bekennen uns zu klaren Leitsätzen.
                    p An diesen sollten Sie uns messen und auf diese berufen wir uns selbst. So garantieren wir Ihnen und uns die bestmögliche Arbeit mit den bestmöglichen Ergebnissen.
                    ol
                        li Kundenorientierung
                        li Prozess- und Ressourcenorientierung
                        li Angebotsorientierung
                        li Technische Neutralität
                        li Bewahrung von Autonomie
                        li Verzicht auf Wahrheitsansprüche
                        li Anerkennung von Komplexität
            div(class="grid__col-12 grid__col-sm-6")
                +section-block({title: "Vision, Mission, Werte"})
                    p Die Entscheidungsträger innerhalb von Unternehmen in der Region sind sich der Bedeutung strategischer Personalentwicklung bewusst. Sie sehen die Wirkung strategischer Personalentwicklung als relevanten Beitrag an, um ihre Organisation human, wirtschaftlich erfolgreich, zukunftsfähig und nicht kopierbar zu gestalten.
                    p Wir wollen Menschen und Unternehmen bei ihrer Entwicklung unterstützen, so dass diese ihre spezifischen Potenziale zum Wohle des Unternehmens, ihrer eigenen Person und somit der Gesellschaft voll zur Entfaltung bringen können. Dabei sehen wir Potenzialentfaltung nicht als Selbstzweck an, sondern als Weg der Verantwortungsübernahme jedes Einzelnen innerhalb des unternehmerischen und gesellschaftlichen Kontextes. 
                    p 
                    strong Kompetenz, Integrität und Spaß bei der Arbeit!
                +section-block({title: "Arbeitsweise"})
                    p Reflect denkt in Problemlagen nicht in Branchen. Wo andere Berater Patentlösungen für ganze Branchen präsentieren und entsprechende Maßnahmen und Trainings ‚einleiten’, betrachten wir das jeweilige Problem. Anders gesagt, wir arbeiten von Fall zu Fall, nicht generell. Doch bestimmte Standard-Arbeitsschritte halten natürlich auch wir für sinnvoll, weil sie die Qualität unserer Arbeit und damit auch Ihre Ergebnisse verbessern.

    section(class="section section--white")
        div(class="section__wrapper")
            +section-headline({icon: "#rocket", title: "Portfolio"})
            div(class="grid")
                each teaser in portfolio
                    div(class="grid__col-12 grid__col-sm-4")
                        div(class="grid__cell")
                            +portfolio-teaser-short(teaser)
    section(class="section section--grey")
        div(class="section__wrapper")
            +section-headline({icon: "#group", title: "Team"})
            +carousel()
                each member in team
                    +carousel-slide()
                        +team-teaser-list({"class": "team-teaser--list-view", "image": member.image, "title": member.title, "name": member.name, "link": member.link, "quote": member.quote})
    section(class="section section--white")
        div(class="section__wrapper")
            +section-headline({icon: "#comment-o", title: "Blog"})
                a(class="section__headline-link", href="/blog/") Mehr Blog-Artikel →
            div(class="grid")
                div(class="grid__col-12 grid__col-sm-6")
                    +blog-teaser-default(blog[0])
                div(class="grid__col-12 grid__col-sm-6")
                    +blog-teaser-default(blog[1])
