// headline styles
.headline {
	font-weight: 300;


	&--section {
		font-family: Lato;
		font-weight: 300;
		font-size: 35px;
		line-height: 1.1;
		letter-spacing: 0.5px;
		color: #007dc7;
		text-transform: uppercase;
		margin-bottom: 10px;

		svg {
			height: 38px;
			width: 38px;
			display: inline-block;
			vertical-align: sub;
			margin-right: 12px;
		}
	}

	&--level2 {
	    font-size: 20px;
	    line-height: 1.5;
	    letter-spacing: 1.7px;
	    color: #333333;
	}
}